Repository cs-pub-ro/hardware-software-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: labs/lab-01, labs/lab-02, labs/lab-03, labs/lab-04, labs/lab-05, labs/lab-06, labs/lab-07, labs/lab-08, labs/lab-09, labs/lab-10, labs/lab-11, labs/lab-12, area/reading, area/media, area/slides, area/guides, area/tasks, area/questions, area/projects, area/infra

.github/labeler.yml:

labs/lab-01:
  - labs/lab-01/**/*

labs/lab-02:
  - labs/lab-02/**/*

labs/lab-03:
  - labs/lab-03/**/*

labs/lab-04:
  - labs/lab-04/**/*

# labels for labs 5 to 12
labs/lab-05:
  - labs/lab-05/**/*

labs/lab-06:
  - labs/lab-06/**/*

labs/lab-07:
  - labs/lab-07/**/*

labs/lab-08:
  - labs/lab-08/**/*

labs/lab-09:
  - labs/lab-09/**/*

labs/lab-10:
  - labs/lab-10/**/*

labs/lab-11:
  - labs/lab-11/**/*

labs/lab-12:
  - labs/lab-12/**/*

area/reading:
  - '**/reading/*'
  - '**/reading/**/*'

area/media:
  - '**/media/*'
  - '**/media/**/*'

area/slides:
  - '**/slides/*'
  - '**/slides/**/*'

area/guides:
  - '**/guides/*'
  - '**/guides/**/*'

area/tasks:
  - '**/tasks/*'
  - '**/tasks/**/*'

area/questions:
  - '**/questions/*'
  - '**/questions/**/*'

area/projects:
  - '**/projects/*'
  - '**/projects/**/*'

area/infra:
  - 'common/*'
  - 'common/**/*'
  - 'scripts/*'
  - 'scripts/**/*'
  - '.github/*'
  - '.github/**/*'
  - 'Dockerfile'
  - 'Makefile'
  - 'config.yaml'

lab-09/reading: Fix 32-bit leftover syntax and typos
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/memory-layout-c-asm.md
Labels: labs/lab-09, area/reading

lab-09/tasks: Fix ABI violations and logical bugs in 64-bit ports
  labs/lab-09/tasks/max-assembly-calls/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls/support/main.asm
  labs/lab-09/tasks/max-c-calls/solution/max.asm
  labs/lab-09/tasks/max-c-calls/support/max.asm
  labs/lab-09/tasks/regs-preserve/solution/main.asm
  labs/lab-09/tasks/regs-preserve/support/main.asm
  labs/lab-09/tasks/stack-frame/support/print_hello.asm
Labels: labs/lab-09, area/tasks

lab03 : vector_max.c : Add solution Finding the maximum element of an array using only goto and if statements
  labs/lab-03/tasks/vector_max/support/vector_max.c
Labels: labs/lab-03, area/tasks

labs/lab-07: update line missed during migration
  labs/lab-07/reading/stack.md
Labels: labs/lab-07, area/reading

Lab03 : tasks vector_max, binary_search
  labs/lab-03/tasks/binary_search/support/binary_search.c
  labs/lab-03/tasks/vector_max/support/vector_max.c
Labels: labs/lab-03, area/tasks

Lab03 : Old-hits : Updated README with the solution
  labs/lab-03/tasks/old-hits/support/old-hits
Labels: labs/lab-03, area/tasks

Updated README with solution
  labs/lab-03/tasks/old-hits/support/README.md
Labels: labs/lab-03, area/tasks

labs/lab-04: Fix support/grumpy_jumps.asm
  labs/lab-04/tasks/grumpy-jumps/support/grumpy_jumps.asm
Labels: labs/lab-04, area/tasks

Add solution to vector_max
  labs/lab-03/tasks/vector_max/support/main
  labs/lab-03/tasks/vector_max/support/vector_max.c
  labs/lab-03/tasks/vector_max/tests/test_vector_max
Labels: labs/lab-03, area/tasks

Add solution
  labs/lab-03/tasks/binary_search/support/binary_search.c
  labs/lab-03/tasks/binary_search/support/main
  labs/lab-03/tasks/binary_search/tests/results.txt
  labs/lab-03/tasks/binary_search/tests/test_binary_search
Labels: labs/lab-03, area/tasks

lab-09/reading: Fix 32-bit leftover syntax and typos
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/memory-layout-c-asm.md
Labels: labs/lab-09, area/reading

lab-09/tasks: Fix ABI violations and logical bugs in 64-bit ports
  labs/lab-09/tasks/max-assembly-calls/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls/support/main.asm
  labs/lab-09/tasks/max-c-calls/solution/max.asm
  labs/lab-09/tasks/max-c-calls/support/max.asm
  labs/lab-09/tasks/regs-preserve/solution/main.asm
  labs/lab-09/tasks/regs-preserve/support/main.asm
  labs/lab-09/tasks/stack-frame/support/print_hello.asm
Labels: labs/lab-09, area/tasks

coding_style_readme
  labs/lab-09/reading/memory-layout-c-asm.md
Labels: labs/lab-09, area/reading

labs/lab-09: Fix lab 9 order in sidebar
  labs/lab-09/README.md
Labels: labs/lab-09

Fix numbering inconsistency in task titles
  labs/lab-11/tasks/entry-fix-2/README.md
Labels: labs/lab-11, area/tasks

Format markdown lists sequentially
  labs/lab-11/reading/linking.md
Labels: labs/lab-11, area/reading

Format directory names with backticks in READMEs
  labs/lab-11/tasks/entry-fix-2/README.md
  labs/lab-11/tasks/export-fix/README.md
  labs/lab-11/tasks/include-fix/README.md
  labs/lab-11/tasks/lib-fix/README.md
  labs/lab-11/tasks/multiple-link/README.md
  labs/lab-11/tasks/obj-link-dev/README.md
  labs/lab-11/tasks/single-link/README.md
  labs/lab-11/tasks/var-func-fix/README.md
  labs/lab-11/tasks/vars-obs/README.md
Labels: labs/lab-11, area/tasks

Revert "Format markdown lists sequentially"
  labs/lab-11/reading/linking.md
Labels: labs/lab-11, area/reading

labs/lab-07/reading: Fix inconsistencies and update code examples
  labs/lab-07/reading/stack.md
Labels: labs/lab-07, area/reading

labs/lab-07/guides: Fix README inconsistencies and typos
  labs/lab-07/guides/stack-addressing/README.md
  labs/lab-07/guides/stack-operations/README.md
Labels: labs/lab-07, area/guides

labs/lab-05: Fix task ordering
  labs/lab-05/tasks/div/README.md
  labs/lab-05/tasks/mul/README.md
  labs/lab-05/tasks/sum-array/README.md
  labs/lab-05/tasks/sum-squared/README.md
Labels: labs/lab-05, area/tasks

labs/lab-05: Fix task ordering
  labs/lab-05/tasks/div/README.md
  labs/lab-05/tasks/mul/README.md
  labs/lab-05/tasks/sum-array/README.md
  labs/lab-05/tasks/sum-squared/README.md
Labels: labs/lab-05, area/tasks

labs/lab-05: Fix 128bit sum test in sum_array
  labs/lab-05/tasks/sum-array/tests/test.sh
Labels: labs/lab-05, area/tasks

labs/lab-05: Fix improper testing of 128 bit sum in sum-array subtask
  labs/lab-05/tasks/sum-array/tests/test.sh
Labels: labs/lab-05, area/tasks

Progress for lab-04
  labs/lab-04/tasks/cf-of/support/cf.asm
  labs/lab-04/tasks/cf-of/support/cf_of.asm
  labs/lab-04/tasks/cf-of/support/of.asm
  labs/lab-04/tasks/conditional-jumps/support/hello_world.asm
  labs/lab-04/tasks/fibonacci/support/fibonacci.asm
  labs/lab-04/tasks/grumpy-jumps/support/grumpy_jumps.asm
  labs/lab-04/tasks/min/support/min.asm
  labs/lab-04/tasks/sets/support/sets.asm
Labels: labs/lab-04, area/tasks

Add solutions
  labs/lab-04/tasks/conditional-jumps/support/hello_world.asm
  labs/lab-04/tasks/conditional-jumps/tests/test_results/result.txt
  labs/lab-04/tasks/grumpy-jumps/support/grumpy_jumps.asm
  labs/lab-04/tasks/grumpy-jumps/tests/test_results/result.txt
  labs/lab-04/tasks/sets/support/sets.asm
  labs/lab-04/tasks/sets/tests/test_results/first_set.tmp
  labs/lab-04/tasks/sets/tests/test_results/result.txt
Labels: labs/lab-04, area/tasks

Lab-01 progress
  labs/lab-01/tasks/len-xor/support/len_xor.c
  labs/lab-01/tasks/len-xor/support/main.c
  labs/lab-01/tasks/mirror/support/main.c
  labs/lab-01/tasks/mirror/support/mirror.c
  labs/lab-01/tasks/odd-even/support/main.c
  labs/lab-01/tasks/odd-even/support/odd_even.c
Labels: labs/lab-01, area/tasks

labs/lab-06: Update task descriptions
  labs/lab-06/tasks/courses/README.md
  labs/lab-06/tasks/fibonacci/README.md
  labs/lab-06/tasks/find-substring/README.md
  labs/lab-06/tasks/getters-setters/README.md
  labs/lab-06/tasks/mul-arrays/README.md
  labs/lab-06/tasks/print-structure/README.md
Labels: labs/lab-06, area/tasks

labs/lab-06: Update task descriptions
  labs/lab-06/tasks/courses/README.md
  labs/lab-06/tasks/fibonacci/README.md
  labs/lab-06/tasks/find-substring/README.md
  labs/lab-06/tasks/getters-setters/README.md
  labs/lab-06/tasks/mul-arrays/README.md
  labs/lab-06/tasks/print-structure/README.md
Labels: labs/lab-06, area/tasks

labs/lab-07/tests: Fix checker regexes for comments and brackets
  labs/lab-07/reading/stack.md
  labs/lab-07/tasks/local-var/tests/test.sh
  labs/lab-07/tasks/max/tests/test.sh
  labs/lab-07/tasks/reverse-array/tests/test.sh
  labs/lab-07/tasks/stack-addressing/tests/test.sh
Labels: labs/lab-07, area/reading, area/tasks

labs/lab-07/tests: Fix checker regexes for comments and brackets
  labs/lab-07/reading/stack.md
  labs/lab-07/tasks/local-var/tests/test.sh
  labs/lab-07/tasks/max/tests/test.sh
  labs/lab-07/tasks/reverse-array/tests/test.sh
  labs/lab-07/tasks/stack-addressing/tests/test.sh
Labels: labs/lab-07, area/reading, area/tasks

labs/lab-07/guides: Fix README inconsistencies and typos
  labs/lab-07/guides/stack-addressing/README.md
  labs/lab-07/guides/stack-operations/README.md
Labels: labs/lab-07, area/guides

labs/lab-07/reading: Fix inconsistencies and update code examples
  labs/lab-07/reading/stack.md
Labels: labs/lab-07, area/reading

fix: correct awk field index for sum_n_squares parsing
  labs/lab-05/tasks/sum-squared/tests/test.sh
Labels: labs/lab-05, area/tasks

lab-09/reading: Fix 32-bit leftover syntax and typos
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/memory-layout-c-asm.md
Labels: labs/lab-09, area/reading

lab-09/tasks: Fix ABI violations and logical bugs in 64-bit ports
  labs/lab-09/tasks/max-assembly-calls/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls/support/main.asm
  labs/lab-09/tasks/max-c-calls/solution/max.asm
  labs/lab-09/tasks/max-c-calls/support/max.asm
  labs/lab-09/tasks/regs-preserve/solution/main.asm
  labs/lab-09/tasks/regs-preserve/support/main.asm
  labs/lab-09/tasks/stack-frame/support/print_hello.asm
Labels: labs/lab-09, area/tasks

Modified max-c-calls-x86 to x86
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/tasks/max-c-calls/solution/max.asm
  labs/lab-09/tasks/max-c-calls/support/max.asm
  labs/lab-09/tasks/regs-preserve/support/main.asm
  labs/lab-09/tasks/regs-preserve/tests/results.txt
  labs/lab-09/tasks/stack-frame/support/print_hello.asm
Labels: labs/lab-09, area/reading, area/tasks

fixing trailiing whitespace
  labs/lab-09/reading/memory-layout-c-asm.md
Labels: labs/lab-09, area/reading

Add Solutions
  labs/lab-05/tasks/div/support/divide.asm
  labs/lab-05/tasks/mul/support/multiply.asm
Labels: labs/lab-05, area/tasks

Lab8/rot13: Define the length of the "before" string as QWORD
  labs/lab-08/tasks/rot13/support/main.asm
Labels: labs/lab-08, area/tasks
