Repository cs-pub-ro/hardware-software-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: labs/lab-01, labs/lab-02, labs/lab-03, labs/lab-04, labs/lab-05, labs/lab-06, labs/lab-07, labs/lab-08, labs/lab-09, labs/lab-10, labs/lab-11, labs/lab-12, area/reading, area/media, area/slides, area/guides, area/tasks, area/questions, area/projects, area/infra

.github/labeler.yml:

labs/lab-01:
  - labs/lab-01/**/*

labs/lab-02:
  - labs/lab-02/**/*

labs/lab-03:
  - labs/lab-03/**/*

labs/lab-04:
  - labs/lab-04/**/*

# labels for labs 5 to 12
labs/lab-05:
  - labs/lab-05/**/*

labs/lab-06:
  - labs/lab-06/**/*

labs/lab-07:
  - labs/lab-07/**/*

labs/lab-08:
  - labs/lab-08/**/*

labs/lab-09:
  - labs/lab-09/**/*

labs/lab-10:
  - labs/lab-10/**/*

labs/lab-11:
  - labs/lab-11/**/*

labs/lab-12:
  - labs/lab-12/**/*

area/reading:
  - '**/reading/*'
  - '**/reading/**/*'

area/media:
  - '**/media/*'
  - '**/media/**/*'

area/slides:
  - '**/slides/*'
  - '**/slides/**/*'

area/guides:
  - '**/guides/*'
  - '**/guides/**/*'

area/tasks:
  - '**/tasks/*'
  - '**/tasks/**/*'

area/questions:
  - '**/questions/*'
  - '**/questions/**/*'

area/projects:
  - '**/projects/*'
  - '**/projects/**/*'

area/infra:
  - 'common/*'
  - 'common/**/*'
  - 'scripts/*'
  - 'scripts/**/*'
  - '.github/*'
  - '.github/**/*'
  - 'Dockerfile'
  - 'Makefile'
  - 'config.yaml'

common: Remove common files
  common/slides/Makefile
  common/utils/get_time.h
  common/utils/log/log.c
  common/utils/log/log.h
  common/utils/utils.h
Labels: area/slides, area/infra

infra: Remove useless actions - deployment and hsi-runner.
  .github/workflows/deployment.yml
  .github/workflows/hsi-runner.yml
Labels: area/infra

labs: Add lab setup guide
  labs/README.md
  labs/lab-01/README.md
  labs/lab-02/README.md
  labs/lab-03/README.md
  labs/lab-04/README.md
  labs/lab-05/README.md
  labs/lab-06/README.md
  labs/lab-07/README.md
  labs/lab-08/README.md
  labs/lab-09/README.md
  labs/lab-10/README.md
  labs/lab-11/README.md
  labs/lab-12/README.md
Labels: labs/lab-01, labs/lab-02, labs/lab-03, labs/lab-04, labs/lab-05, labs/lab-06, labs/lab-07, labs/lab-08, labs/lab-09, labs/lab-10, labs/lab-11, labs/lab-12

labs/lab-04: Add checker infrastructure
  labs/lab-04/tasks/cf-of/README.md
  labs/lab-04/tasks/cf-of/tests/Makefile
  labs/lab-04/tasks/cf-of/tests/graded_test.inc.sh
  labs/lab-04/tasks/cf-of/tests/run_all_tests.sh
  labs/lab-04/tasks/cf-of/tests/test.sh
  labs/lab-04/tasks/conditional-jumps/README.md
  labs/lab-04/tasks/conditional-jumps/solution/hello_world.asm
  labs/lab-04/tasks/conditional-jumps/support/hello_world.asm
  labs/lab-04/tasks/conditional-jumps/tests/Makefile
  labs/lab-04/tasks/conditional-jumps/tests/graded_test.inc.sh
  labs/lab-04/tasks/conditional-jumps/tests/run_all_tests.sh
  labs/lab-04/tasks/conditional-jumps/tests/test.sh
  labs/lab-04/tasks/fibonacci/README.md
  labs/lab-04/tasks/fibonacci/solution/fibonacci.asm
  labs/lab-04/tasks/fibonacci/support/fibonacci.asm
  labs/lab-04/tasks/fibonacci/tests/Makefile
  labs/lab-04/tasks/fibonacci/tests/graded_test.inc.sh
  labs/lab-04/tasks/fibonacci/tests/run_all_tests.sh
  labs/lab-04/tasks/fibonacci/tests/test.sh
  labs/lab-04/tasks/grumpy-jumps/README.md
  labs/lab-04/tasks/grumpy-jumps/tests/Makefile
  labs/lab-04/tasks/grumpy-jumps/tests/graded_test.inc.sh
  labs/lab-04/tasks/grumpy-jumps/tests/run_all_tests.sh
  labs/lab-04/tasks/grumpy-jumps/tests/test.sh
  labs/lab-04/tasks/min/README.md
  labs/lab-04/tasks/min/solution/min.asm
  labs/lab-04/tasks/min/support/min.asm
  labs/lab-04/tasks/min/tests/Makefile
  labs/lab-04/tasks/min/tests/graded_test.inc.sh
  labs/lab-04/tasks/min/tests/run_all_tests.sh
  labs/lab-04/tasks/min/tests/test.sh
  labs/lab-04/tasks/sets/README.md
  labs/lab-04/tasks/sets/solution/sets.asm
  labs/lab-04/tasks/sets/support/sets.asm
  labs/lab-04/tasks/sets/tests/Makefile
  labs/lab-04/tasks/sets/tests/graded_test.inc.sh
  labs/lab-04/tasks/sets/tests/run_all_tests.sh
  labs/lab-04/tasks/sets/tests/test.sh
Labels: labs/lab-04, area/tasks

Update README.md
  labs/lab-10/tasks/read-stdin-gets/README.md
Labels: labs/lab-10, area/tasks

Updated README.md with bytes
  labs/lab-10/tasks/read-stdin-gets/README.md
Labels: labs/lab-10, area/tasks

Update README.md
  labs/lab-10/tasks/overwrite-ret-addr/solution/README.md
Labels: labs/lab-10, area/tasks

labs/lab-05: Add checker infrastructure
  labs/lab-05/tasks/div/README.md
  labs/lab-05/tasks/div/solution/Makefile
  labs/lab-05/tasks/div/tests/Makefile
  labs/lab-05/tasks/div/tests/graded_test.inc.sh
  labs/lab-05/tasks/div/tests/run_all_tests.sh
  labs/lab-05/tasks/div/tests/test.sh
  labs/lab-05/tasks/mul/README.md
  labs/lab-05/tasks/mul/solution/Makefile
  labs/lab-05/tasks/mul/tests/Makefile
  labs/lab-05/tasks/mul/tests/graded_test.inc.sh
  labs/lab-05/tasks/mul/tests/run_all_tests.sh
  labs/lab-05/tasks/mul/tests/test.sh
  labs/lab-05/tasks/sum-array/README.md
  labs/lab-05/tasks/sum-array/solution/sum_array.asm
  labs/lab-05/tasks/sum-array/support/sum_array.asm
  labs/lab-05/tasks/sum-array/tests/Makefile
  labs/lab-05/tasks/sum-array/tests/graded_test.inc.sh
  labs/lab-05/tasks/sum-array/tests/run_all_tests.sh
  labs/lab-05/tasks/sum-array/tests/test.sh
  labs/lab-05/tasks/sum-squared/README.md
  labs/lab-05/tasks/sum-squared/tests/Makefile
  labs/lab-05/tasks/sum-squared/tests/graded_test.inc.sh
  labs/lab-05/tasks/sum-squared/tests/run_all_tests.sh
  labs/lab-05/tasks/sum-squared/tests/test.sh
  labs/lab-05/tasks/vec-count-if/README.md
  labs/lab-05/tasks/vec-count-if/tests/Makefile
  labs/lab-05/tasks/vec-count-if/tests/graded_test.inc.sh
  labs/lab-05/tasks/vec-count-if/tests/run_all_tests.sh
  labs/lab-05/tasks/vec-count-if/tests/test.sh
Labels: labs/lab-05, area/tasks

lab-07/gcd: Added checker infrastructure
  labs/lab-07/tasks/gcd/README.md
  labs/lab-07/tasks/gcd/support/Makefile
  labs/lab-07/tasks/gcd/tests/Makefile
  labs/lab-07/tasks/gcd/tests/graded_test.inc.sh
  labs/lab-07/tasks/gcd/tests/run_all_tests.sh
  labs/lab-07/tasks/gcd/tests/test.sh
  labs/lab-07/tasks/local-var/README.md
  labs/lab-07/tasks/local-var/tests/Makefile
  labs/lab-07/tasks/local-var/tests/graded_test.inc.sh
  labs/lab-07/tasks/local-var/tests/run_all_tests.sh
  labs/lab-07/tasks/local-var/tests/test.sh
  labs/lab-07/tasks/max/README.md
  labs/lab-07/tasks/max/tests/Makefile
  labs/lab-07/tasks/max/tests/graded_test.inc.sh
  labs/lab-07/tasks/max/tests/run_all_tests.sh
  labs/lab-07/tasks/max/tests/test.sh
  labs/lab-07/tasks/reverse-array/README.md
  labs/lab-07/tasks/reverse-array/tests/Makefile
  labs/lab-07/tasks/reverse-array/tests/graded_test.inc.sh
  labs/lab-07/tasks/reverse-array/tests/run_all_tests.sh
  labs/lab-07/tasks/reverse-array/tests/test.sh
  labs/lab-07/tasks/stack-addressing/README.md
  labs/lab-07/tasks/stack-addressing/solution/stack-addressing.asm
  labs/lab-07/tasks/stack-addressing/tests/Makefile
  labs/lab-07/tasks/stack-addressing/tests/graded_test.inc.sh
  labs/lab-07/tasks/stack-addressing/tests/run_all_tests.sh
  labs/lab-07/tasks/stack-addressing/tests/test.sh
Labels: labs/lab-07, area/tasks

lab-07/gcd: Added checker infrastructure
  labs/lab-07/tasks/gcd/README.md
  labs/lab-07/tasks/gcd/support/Makefile
  labs/lab-07/tasks/gcd/tests/Makefile
  labs/lab-07/tasks/gcd/tests/graded_test.inc.sh
  labs/lab-07/tasks/gcd/tests/run_all_tests.sh
  labs/lab-07/tasks/gcd/tests/test.sh
  labs/lab-07/tasks/local-var/README.md
  labs/lab-07/tasks/local-var/support/Makefile
  labs/lab-07/tasks/local-var/tests/Makefile
  labs/lab-07/tasks/local-var/tests/graded_test.inc.sh
  labs/lab-07/tasks/local-var/tests/run_all_tests.sh
  labs/lab-07/tasks/local-var/tests/test.sh
  labs/lab-07/tasks/max/README.md
  labs/lab-07/tasks/max/support/Makefile
  labs/lab-07/tasks/max/tests/Makefile
  labs/lab-07/tasks/max/tests/graded_test.inc.sh
  labs/lab-07/tasks/max/tests/run_all_tests.sh
  labs/lab-07/tasks/max/tests/test.sh
  labs/lab-07/tasks/reverse-array/README.md
  labs/lab-07/tasks/reverse-array/support/Makefile
  labs/lab-07/tasks/reverse-array/tests/Makefile
  labs/lab-07/tasks/reverse-array/tests/graded_test.inc.sh
  labs/lab-07/tasks/reverse-array/tests/run_all_tests.sh
  labs/lab-07/tasks/reverse-array/tests/test.sh
  labs/lab-07/tasks/stack-addressing/README.md
  labs/lab-07/tasks/stack-addressing/solution/stack-addressing.asm
  labs/lab-07/tasks/stack-addressing/support/Makefile
  labs/lab-07/tasks/stack-addressing/tests/Makefile
  labs/lab-07/tasks/stack-addressing/tests/graded_test.inc.sh
  labs/lab-07/tasks/stack-addressing/tests/run_all_tests.sh
  labs/lab-07/tasks/stack-addressing/tests/test.sh
Labels: labs/lab-07, area/tasks

labs/lab-05: Add checker infrastructure
  labs/lab-05/tasks/div/README.md
  labs/lab-05/tasks/div/tests/Makefile
  labs/lab-05/tasks/div/tests/graded_test.inc.sh
  labs/lab-05/tasks/div/tests/run_all_tests.sh
  labs/lab-05/tasks/div/tests/test.sh
  labs/lab-05/tasks/mul/README.md
  labs/lab-05/tasks/mul/tests/Makefile
  labs/lab-05/tasks/mul/tests/graded_test.inc.sh
  labs/lab-05/tasks/mul/tests/run_all_tests.sh
  labs/lab-05/tasks/mul/tests/test.sh
  labs/lab-05/tasks/sum-array/README.md
  labs/lab-05/tasks/sum-array/solution/sum_array.asm
  labs/lab-05/tasks/sum-array/support/sum_array.asm
  labs/lab-05/tasks/sum-array/tests/Makefile
  labs/lab-05/tasks/sum-array/tests/graded_test.inc.sh
  labs/lab-05/tasks/sum-array/tests/run_all_tests.sh
  labs/lab-05/tasks/sum-array/tests/test.sh
  labs/lab-05/tasks/sum-squared/README.md
  labs/lab-05/tasks/sum-squared/solution/sum_n_squared.asm
  labs/lab-05/tasks/sum-squared/solution/sum_n_squared_stack.asm
  labs/lab-05/tasks/sum-squared/tests/Makefile
  labs/lab-05/tasks/sum-squared/tests/graded_test.inc.sh
  labs/lab-05/tasks/sum-squared/tests/run_all_tests.sh
  labs/lab-05/tasks/sum-squared/tests/test.sh
  labs/lab-05/tasks/vec-count-if/README.md
  labs/lab-05/tasks/vec-count-if/tests/Makefile
  labs/lab-05/tasks/vec-count-if/tests/graded_test.inc.sh
  labs/lab-05/tasks/vec-count-if/tests/run_all_tests.sh
  labs/lab-05/tasks/vec-count-if/tests/test.sh
Labels: labs/lab-05, area/tasks

labs/lab-03: Add checker infrastructure
  labs/lab-03/tasks/binary_search/README.md
  labs/lab-03/tasks/binary_search/solution/.gitignore
  labs/lab-03/tasks/binary_search/solution/Makefile
  labs/lab-03/tasks/binary_search/solution/binary_search.c
  labs/lab-03/tasks/binary_search/solution/binary_search.h
  labs/lab-03/tasks/binary_search/solution/main.c
  labs/lab-03/tasks/binary_search/support/.gitignore
  labs/lab-03/tasks/binary_search/support/Makefile
  labs/lab-03/tasks/binary_search/support/binary_search.c
  labs/lab-03/tasks/binary_search/support/binary_search.h
  labs/lab-03/tasks/binary_search/support/main.c
  labs/lab-03/tasks/binary_search/tests/Makefile
  labs/lab-03/tasks/binary_search/tests/graded_test.c
  labs/lab-03/tasks/binary_search/tests/graded_test.h
  labs/lab-03/tasks/binary_search/tests/run_all_tests.sh
  labs/lab-03/tasks/binary_search/tests/test_binary_search.c
  labs/lab-03/tasks/goto-algs/README.md
  labs/lab-03/tasks/goto-algs/solution/binary-search/Makefile
  labs/lab-03/tasks/goto-algs/solution/vector-max/Makefile
  labs/lab-03/tasks/goto-algs/support/vector-max/vector-max.c
  labs/lab-03/tasks/old-hits/README.md
  labs/lab-03/tasks/vector_max/README.md
  labs/lab-03/tasks/vector_max/solution/.gitignore
  labs/lab-03/tasks/vector_max/solution/Makefile
  labs/lab-03/tasks/vector_max/solution/main.c
  labs/lab-03/tasks/vector_max/solution/vector_max.c
  labs/lab-03/tasks/vector_max/solution/vector_max.h
  labs/lab-03/tasks/vector_max/support/.gitignore
  labs/lab-03/tasks/vector_max/support/Makefile
  labs/lab-03/tasks/vector_max/support/main.c
  labs/lab-03/tasks/vector_max/support/vector_max.c
  labs/lab-03/tasks/vector_max/support/vector_max.h
  labs/lab-03/tasks/vector_max/tests/Makefile
  labs/lab-03/tasks/vector_max/tests/graded_test.c
  labs/lab-03/tasks/vector_max/tests/graded_test.h
  labs/lab-03/tasks/vector_max/tests/run_all_tests.sh
  labs/lab-03/tasks/vector_max/tests/test_vector_max.c
Labels: labs/lab-03, area/tasks

lab-setup-chapter/reading add lab setup tutorial
  _config.yaml
  labs/setup/README.md
  labs/setup/media/01_create_new_vm.png
  labs/setup/media/02_emulate.png
  labs/setup/media/03_custom.png
  labs/setup/media/04_boot_none.png
  labs/setup/media/05_hardware_ram.png
  labs/setup/media/06_storage.png
  labs/setup/media/07_shared_directory.png
  labs/setup/media/08_summary.png
  labs/setup/media/09_edit.png
  labs/setup/media/10_disable_uefi.png
  labs/setup/media/11_add_drive.png
  labs/setup/media/12_move_up.png
  labs/setup/media/13_get_ip.png
  labs/setup/media/issue_graphic_controller.png
Labels: area/media

labs/lab-01: Touch-up task solutions and tests
  labs/lab-01/tasks/.gitignore
  labs/lab-01/tasks/len-xor/solution/len_xor.c
  labs/lab-01/tasks/len-xor/tests/.gitignore
  labs/lab-01/tasks/len-xor/tests/test_len_xor.c
  labs/lab-01/tasks/mirror/README.md
  labs/lab-01/tasks/mirror/solution/main.c
  labs/lab-01/tasks/mirror/tests/.gitignore
  labs/lab-01/tasks/mirror/tests/test_mirror.c
  labs/lab-01/tasks/odd-even/README.md
  labs/lab-01/tasks/odd-even/solution/odd_even.c
  labs/lab-01/tasks/odd-even/tests/.gitignore
  labs/lab-01/tasks/odd-even/tests/test_odd_even.c
Labels: labs/lab-01, area/tasks

Add initial rules and grading page
  rules-and-grading.md
Labels: none

labs/lab-01: Replace `malloc()` with `calloc()` in `odd-even` tests
  labs/lab-01/tasks/odd-even/tests/test_odd_even.c
Labels: labs/lab-01, area/tasks

rules-and-grading: Update passing minimal requirements
  rules-and-grading.md
Labels: none

labs/lab-02: Add missing exec permissions to run_all_tests.sh in lab-02
  labs/lab-02/tasks/delete_first/tests/run_all_tests.sh
  labs/lab-02/tasks/find_max/tests/run_all_tests.sh
  labs/lab-02/tasks/iterate/tests/run_all_tests.sh
  labs/lab-02/tasks/pixels/tests/run_all_tests.sh
  labs/lab-02/tasks/pointers/tests/run_all_tests.sh
Labels: labs/lab-02, area/tasks

Lab 01
  labs/lab-01/tasks/odd-even/support/main.c
Labels: labs/lab-01, area/tasks

:w#
  labs/lab-02/tasks/delete_first/support/delete_first.c
  labs/lab-02/tasks/delete_first/support/main
  labs/lab-02/tasks/delete_first/support/main.c
  labs/lab-02/tasks/delete_first/tests/test_delete_first
  labs/lab-02/tasks/find_max/solution/main
  labs/lab-02/tasks/find_max/support/find_max.c
  labs/lab-02/tasks/find_max/tests/test_find_max
  labs/lab-02/tasks/inspect/support/.gdb_history
  labs/lab-02/tasks/iterate/support/iterate.c
  labs/lab-02/tasks/iterate/support/main
  labs/lab-02/tasks/iterate/tests/char.ref
  labs/lab-02/tasks/iterate/tests/int.ref
  labs/lab-02/tasks/iterate/tests/short.ref
  labs/lab-02/tasks/iterate/tests/test_iterate
  labs/lab-02/tasks/pixels/support/main
  labs/lab-02/tasks/pixels/support/pixels.c
  labs/lab-02/tasks/pixels/tests/test_pixels
  labs/lab-02/tasks/pointers/support/main
  labs/lab-02/tasks/pointers/support/pointers.c
  labs/lab-02/tasks/pointers/tests/test_pointers
Labels: labs/lab-02, area/tasks

infra: Add guide vor VSCode + GDB
  labs/setup/README.md
Labels: none

Update README.md
  labs/setup/README.md
Labels: none

Lab 02: - Exercise #pixels:
  labs/lab-02/tasks/find_max/support/find_max.c
  labs/lab-02/tasks/pixels/support/pixels.c
Labels: labs/lab-02, area/tasks

Lab 02: - Exercise #pixels - Exercise #find_max
  labs/lab-02/tasks/find_max/support/find_max.c
  labs/lab-02/tasks/pixels/support/pixels.c
Labels: labs/lab-02, area/tasks

labs/lab-03: Fix rand_r usage in shuffle function
  labs/lab-03/guides/goto-warm-up/support/bogosort/bogosort.c
Labels: labs/lab-03, area/guides

labs/lab-02: Remove duplicate "Task:" prefix from `iterate`
  labs/lab-02/tasks/iterate/README.md
Labels: labs/lab-02, area/tasks

Lab 03 - binary_search - vector_max
  labs/lab-03/tasks/binary_search/support/binary_search.c
  labs/lab-03/tasks/vector_max/support/vector_max.c
Labels: labs/lab-03, area/tasks

Lab 03: - binary_search; - vector_max.
  labs/lab-03/tasks/binary_search/support/binary_search.c
  labs/lab-03/tasks/vector_max/support/vector_max.c
Labels: labs/lab-03, area/tasks

Lab 03: - binary_search; - vector_max.
  labs/lab-03/tasks/binary_search/support/binary_search.c
  labs/lab-03/tasks/vector_max/support/vector_max.c
Labels: labs/lab-03, area/tasks

Store progress for lab-03
  labs/lab-03/tasks/binary_search/support/binary_search.c
  labs/lab-03/tasks/binary_search/support/main
  labs/lab-03/tasks/binary_search/tests/test_binary_search
  labs/lab-03/tasks/old-hits/support/.gdb_history
  labs/lab-03/tasks/old-hits/support/old-hits
  labs/lab-03/tasks/old-hits/support/secret.md
  labs/lab-03/tasks/vector_max/support/main
  labs/lab-03/tasks/vector_max/support/vector_max.c
  labs/lab-03/tasks/vector_max/tests/test_vector_max
Labels: labs/lab-03, area/tasks

labs/lab-04: Fix grumpy-jumps checker and move fibonacci TODO lower
  labs/lab-04/tasks/fibonacci/support/fibonacci.asm
  labs/lab-04/tasks/grumpy-jumps/tests/test.sh
Labels: labs/lab-04, area/tasks

fixed path to printf
  labs/lab-04/guides/discovering-assembly/support/Makefile
Labels: labs/lab-04, area/guides

labs/lab-05: Add missing media files
  labs/lab-05/media/registers.png
  labs/lab-05/media/segments.png
  labs/lab-05/reading/registers.md
Labels: labs/lab-05, area/reading, area/media

labs/lab-05: Add missing images.
  labs/lab-05/media/registers.svg
  labs/lab-05/media/sections.jpg
  labs/lab-05/media/segments.svg
  labs/lab-05/reading/registers.md
Labels: labs/lab-05, area/reading, area/media

labs/lab-06: Update comments in tasks `getters-setters` and `courses`
  labs/lab-06/tasks/courses/solution/courses.asm
  labs/lab-06/tasks/courses/support/courses.asm
  labs/lab-06/tasks/getters-setters/support/getter_setter_printf.asm
Labels: labs/lab-06, area/tasks

labs/lab-05: Clarify and fix printing in `mul` and `div` task solutions
  labs/lab-05/tasks/div/solution/divide.asm
  labs/lab-05/tasks/mul/solution/multiply.asm
Labels: labs/lab-05, area/tasks

labs/lab-07: Fix README.md and comment for tasks `stack-addressing`, `gcd`
  labs/lab-07/tasks/gcd/README.md
  labs/lab-07/tasks/stack-addressing/README.md
  labs/lab-07/tasks/stack-addressing/support/stack-addressing.asm
Labels: labs/lab-07, area/tasks

labs/lab-07: Add missing images.
  labs/lab-07/media/process_address_space.jpg
  labs/lab-07/media/the-stack-growth.svg
  labs/lab-07/media/the-stack.svg
  labs/lab-07/reading/stack.md
Labels: labs/lab-07, area/reading, area/media

Draft lab 13
  labs/lab-13-draft/README
Labels: none

deleted lab 1 conversion last task to test pr deployment
  labs/lab-01/tasks/conversions/README.md
  labs/lab-13-draft/README
Labels: labs/lab-01, area/tasks
