Repository cs-pub-ro/hardware-software-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: topic/hardware-software-interface, topic/intro-computer-architecture, topic/memory-layout, topic/memory-security, topic/stack, area/reading, area/media, area/slides, area/guides, area/tasks, area/questions, area/projects, area/infra

.github/labeler.yml:

topic/hardware-software-interface:
  - chapters/hardware-software-interface/**/*

topic/intro-computer-architecture:
  - chapters/intro-computer-architecture/**/*

topic/memory-layout:
  - chapters/memory-layout/**/*

topic/memory-security:
  - chapters/memory-security/**/*

topic/stack:
  - chapters/stack/**/*

area/reading:
  - '**/reading/*'
  - '**/reading/**/*'

area/media:
  - '**/media/*'
  - '**/media/**/*'

area/slides:
  - '**/slides/*'
  - '**/slides/**/*'

area/guides:
  - '**/guides/*'
  - '**/guides/**/*'

area/tasks:
  - '**/tasks/*'
  - '**/tasks/**/*'

area/questions:
  - '**/questions/*'
  - '**/questions/**/*'

area/projects:
  - '**/projects/*'
  - '**/projects/**/*'

area/infra:
  - 'common/*'
  - 'common/**/*'
  - 'scripts/*'
  - 'scripts/**/*'
  - '.github/*'
  - '.github/**/*'
  - 'Dockerfile'
  - 'Makefile'
  - 'config.yaml'

intro-comparch/rotations: Change rotations parameter type
  chapters/intro-computer-architecture/binary-hex/drills/tasks/rotations/solution/rotations.c
  chapters/intro-computer-architecture/binary-hex/drills/tasks/rotations/support/rotations.c
Labels: topic/intro-computer-architecture, area/tasks

memory-layout/memory-operations: Parenthesize GET_PIXEL macro
  chapters/memory-layout/memory-operations/drills/tasks/pixels/README.md
  chapters/memory-layout/memory-operations/drills/tasks/pixels/solution/pixels.c
Labels: topic/memory-layout, area/tasks

memory-security/drills: Add instructions to install `libcrypto.so.1.1`
  chapters/memory-security/reverse-engineering/drills/tasks/old-hits/README.md
Labels: topic/memory-security, area/tasks

memory-layout/memory-operations: Fix swapRows call in pixels solution
  chapters/memory-layout/memory-operations/drills/tasks/pixels/solution/pixels.c
Labels: topic/memory-layout, area/tasks

util/hsi-runner: Create hsi-runner container
  .github/workflows/hsi-runner.yml
  util/hsi-runner/Dockerfile
  util/hsi-runner/Makefile
  util/hsi-runner/README.md
Labels: area/infra

infra: Replace Spellcheck action with Typos
  .github/.typos.toml
  .github/workflows/actions.yml
  Makefile
  chapters/hardware-software-interface/arrays/drills/tasks/courses/solution/courses.asm
  chapters/memory-security/buffers-intro/drills/tasks/read-stdin-fgets/solution/read_stdin_fgets.asm
  chapters/memory-security/ctf/drills/tasks/feeling-chained/solution/buff-ovf3.c
  chapters/memory-security/ctf/drills/tasks/hidden-in-plain-sight-1/solution/link.c
  chapters/memory-security/ctf/drills/tasks/indirect-business/solution/buff-ovf.c
  chapters/memory-security/ctf/drills/tasks/look-at-him-go/solution/dynamic.c
  chapters/memory-security/ctf/drills/tasks/playing-god/solution/vuln.c
  chapters/memory-security/ctf/drills/tasks/rip-my-buffers-off/solution/buff-ovf2.c
  chapters/memory-security/ctf/drills/tasks/rop/solution/rop.c
Labels: topic/hardware-software-interface, topic/memory-security, area/tasks, area/infra
