Repository cs-pub-ro/hardware-software-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: labs/lab-01, labs/lab-02, labs/lab-03, labs/lab-04, labs/lab-05, labs/lab-06, labs/lab-07, labs/lab-08, labs/lab-09, labs/lab-10, labs/lab-11, labs/lab-12, area/reading, area/media, area/slides, area/guides, area/tasks, area/questions, area/projects, area/infra

labs/lab-09: Changed stack-frame task
  labs/lab-09/tasks/stack-frame/README.md
  labs/lab-09/tasks/stack-frame/solution/Makefile
  labs/lab-09/tasks/stack-frame/solution/main.c
  labs/lab-09/tasks/stack-frame/solution/print_hello.asm
  labs/lab-09/tasks/stack-frame/support/Makefile
  labs/lab-09/tasks/stack-frame/support/main.c
  labs/lab-09/tasks/stack-frame/support/print_hello.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed reading materials for x86-64 version
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/stack-c-asm.md
Labels: labs/lab-09, area/reading

labs/lab-09: Changed max-assembly-calls task
  labs/lab-09/tasks/max-assembly-calls-x64/README.md
  labs/lab-09/tasks/max-assembly-calls-x64/solution/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x64/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/solution/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x64/support/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/support/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/support/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/tests/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-assembly-calls-x64/tests/run_all_tests.sh
  labs/lab-09/tasks/max-assembly-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-assembly-calls/.gitignore
  labs/lab-09/tasks/max-assembly-calls/README.md
  labs/lab-09/tasks/max-assembly-calls/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls/solution/max.c
  labs/lab-09/tasks/max-assembly-calls/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls/support/Makefile
  labs/lab-09/tasks/max-assembly-calls/support/main.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed max-c-calls task
  labs/lab-09/tasks/max-c-calls-x64/README.md
  labs/lab-09/tasks/max-c-calls-x64/solution/.gitignore
  labs/lab-09/tasks/max-c-calls-x64/solution/Makefile
  labs/lab-09/tasks/max-c-calls-x64/solution/main.c
  labs/lab-09/tasks/max-c-calls-x64/solution/max.asm
  labs/lab-09/tasks/max-c-calls-x64/support/.gitignore
  labs/lab-09/tasks/max-c-calls-x64/support/Makefile
  labs/lab-09/tasks/max-c-calls-x64/support/main.c
  labs/lab-09/tasks/max-c-calls-x64/support/max.asm
  labs/lab-09/tasks/max-c-calls-x64/tests/Makefile
  labs/lab-09/tasks/max-c-calls-x64/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-c-calls-x64/tests/run_all_tests.sh
  labs/lab-09/tasks/max-c-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-c-calls/README.md
  labs/lab-09/tasks/max-c-calls/solution/Makefile
  labs/lab-09/tasks/max-c-calls/solution/main.c
  labs/lab-09/tasks/max-c-calls/solution/max.asm
  labs/lab-09/tasks/max-c-calls/support/Makefile
  labs/lab-09/tasks/max-c-calls/support/main.c
  labs/lab-09/tasks/max-c-calls/support/max.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Added 32-bit version of max-assembly-calls
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/inline-assembly.md
  labs/lab-09/reading/memory-layout-c-asm.md
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/max-assembly-calls-x86/README.md
  labs/lab-09/tasks/max-assembly-calls-x86/solution/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x86/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls-x86/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls-x86/solution/max.c
  labs/lab-09/tasks/max-assembly-calls-x86/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x86/support/Makefile
  labs/lab-09/tasks/max-assembly-calls-x86/support/main.asm
  labs/lab-09/tasks/max-assembly-calls-x86/support/max.c
  labs/lab-09/tasks/max-assembly-calls-x86/tests/Makefile
  labs/lab-09/tasks/max-assembly-calls-x86/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-assembly-calls-x86/tests/run_all_tests.sh
  labs/lab-09/tasks/max-assembly-calls-x86/tests/tests.sh
  labs/lab-09/tasks/max-assembly-calls/README.md
  labs/lab-09/tasks/max-c-calls-x86/.gitignore
  labs/lab-09/tasks/max-c-calls-x86/README.md
  labs/lab-09/tasks/max-c-calls-x86/solution/Makefile
  labs/lab-09/tasks/max-c-calls-x86/solution/main.c
  labs/lab-09/tasks/max-c-calls-x86/solution/max.asm
  labs/lab-09/tasks/max-c-calls-x86/support/Makefile
  labs/lab-09/tasks/max-c-calls-x86/support/main.c
  labs/lab-09/tasks/max-c-calls-x86/support/max.asm
  labs/lab-09/tasks/max-c-calls-x86/tests/Makefile
  labs/lab-09/tasks/max-c-calls-x86/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-c-calls-x86/tests/run_all_tests.sh
  labs/lab-09/tasks/max-c-calls-x86/tests/tests.sh
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/stack-frame/README.md
Labels: labs/lab-09, area/reading, area/tasks

labs/lab-09: Changed export-fix task
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/export-fix/solution/a-func/ops.h
  labs/lab-09/tasks/export-fix/solution/b-var/ops.h
  labs/lab-09/tasks/export-fix/solution/c-var-2/ops.h
  labs/lab-09/tasks/export-fix/support/a-func/ops.h
  labs/lab-09/tasks/export-fix/support/b-var/ops.h
  labs/lab-09/tasks/export-fix/support/c-var-2/ops.h
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed include-fix task
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/include-fix/solution/.gitignore
  labs/lab-09/tasks/include-fix/solution/Makefile
  labs/lab-09/tasks/include-fix/support/Makefile
Labels: labs/lab-09, area/tasks

labs/lab-09: Added 32-bit version of max-assembly-calls
  labs/lab-09/README.md
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/inline-assembly.md
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/stack-frame/README.md
Labels: labs/lab-09, area/reading, area/tasks

labs/lab-09: Added reading material for GCC Extended ASM
  labs/lab-09/reading/inline-assembly.md
Labels: labs/lab-09, area/reading

labs/lab-05: Fix script == check.
  labs/lab-05/tasks/div/tests/test.sh
  labs/lab-05/tasks/sum-array/tests/test.sh
Labels: labs/lab-05, area/tasks

deployment: Change CI to build the `x86` and `main` branches.
  .github/workflows/deployment.yml
Labels: area/infra

labs/lab-0{2,7}: Apply suggestions from @Copilot.
  labs/lab-02/tasks/iterate/tests/test_iterate.c
  labs/lab-07/tasks/gcd/README.md
Labels: labs/lab-02, labs/lab-07, area/tasks

lab-08/README.md: Fix typo in first section
  labs/lab-08/README.md
Labels: labs/lab-08

reading/functions.md: Fix typo and clarify the steps
  labs/lab-08/reading/functions.md
Labels: labs/lab-08, area/reading

guides/hello-world: Fix inconsistency between code and README
  labs/lab-08/guides/hello-world/README.md
Labels: labs/lab-08, area/guides

tasks/sum7: Remove solution from support files.
  labs/lab-08/tasks/sum7/support/main.asm
  labs/lab-08/tasks/sum7/support/sum7.asm
Labels: labs/lab-08, area/tasks

tasks/to-upper: Add additional information and fix small typo
  labs/lab-08/tasks/to-upper/README.md
  labs/lab-08/tasks/to-upper/support/to_upper.asm
Labels: labs/lab-08, area/tasks

tasks/rot13: Clarify the TODO in rot13.asm
  labs/lab-08/tasks/rot13/support/rot13.asm
Labels: labs/lab-08, area/tasks

tasks/sum7: Fix TODO to match the style from the other tasks
  labs/lab-08/tasks/sum7/support/main.asm
  labs/lab-08/tasks/sum7/support/sum7.asm
Labels: labs/lab-08, area/tasks

labs/lab-08: Fix inconsistencies and typos
  labs/lab-08/README.md
  labs/lab-08/guides/hello-world/README.md
  labs/lab-08/reading/functions.md
  labs/lab-08/tasks/rot13/support/rot13.asm
  labs/lab-08/tasks/sum7/support/sum7.asm
  labs/lab-08/tasks/to-upper/README.md
  labs/lab-08/tasks/to-upper/support/to_upper.asm
Labels: labs/lab-08, area/reading, area/guides, area/tasks

labs/lab-04 Small changed on reading materials
  labs/lab-04/reading/introduction.md
  labs/lab-04/reading/x86-architecture-family.md
Labels: labs/lab-04, area/reading

labs/lab-06: Correct x86_64 memory addressing, guides and task code
  labs/lab-06/guides/students/support/students.asm
  labs/lab-06/reading/arrays.md
  labs/lab-06/reading/structures.md
  labs/lab-06/tasks/courses/solution/courses.asm
  labs/lab-06/tasks/courses/support/courses.asm
  labs/lab-06/tasks/fibonacci/solution/fibo_sum.asm
  labs/lab-06/tasks/fibonacci/support/fibo_sum.asm
Labels: labs/lab-06, area/reading, area/guides, area/tasks

labs/lab-06: Correct x86_64 memory addressing, guides and task code
  labs/lab-06/guides/students/support/students.asm
  labs/lab-06/reading/arrays.md
  labs/lab-06/reading/structures.md
  labs/lab-06/tasks/courses/solution/courses.asm
  labs/lab-06/tasks/courses/support/courses.asm
  labs/lab-06/tasks/fibonacci/solution/fibo_sum.asm
  labs/lab-06/tasks/fibonacci/support/fibo_sum.asm
Labels: labs/lab-06, area/reading, area/guides, area/tasks

Fix lab-02 issues: segfault guide, pointer guide, Makefile path, test names
  labs/lab-02/guides/segfault/README.md
  labs/lab-02/reading/memory-operations.md
  labs/lab-02/tasks/find_max/tests/Makefile
  labs/lab-02/tasks/iterate/tests/test_iterate.c
Labels: labs/lab-02, area/reading, area/guides, area/tasks

Fix `div` task on x86_64
  labs/lab-05/tasks/div/README.md
  labs/lab-05/tasks/div/support/divide.asm
Labels: labs/lab-05, area/tasks

Fix `mul` task on x86_64
  labs/lab-05/tasks/mul/README.md
  labs/lab-05/tasks/mul/solution/multiply.asm
  labs/lab-05/tasks/mul/support/multiply.asm
Labels: labs/lab-05, area/tasks

Fix `sum-array` task on x86_64
  labs/lab-05/tasks/sum-array/README.md
  labs/lab-05/tasks/sum-array/support/sum_array.asm
Labels: labs/lab-05, area/tasks

Fix `vec-count-if` task on x86_64
  labs/lab-05/tasks/vec-count-if/solution/count_even_odd.asm
  labs/lab-05/tasks/vec-count-if/solution/count_pos_neg.asm
Labels: labs/lab-05, area/tasks

Fix guides
  labs/lab-05/guides/declarations/README.md
  labs/lab-05/guides/floating-point-exception/README.md
  labs/lab-05/guides/floating-point-exception/support/floating_point_exception.asm
  labs/lab-05/guides/loop/README.md
  labs/lab-05/guides/multiply-divide/README.md
Labels: labs/lab-05, area/guides

rules-and-grading: Update midterm details
  rules-and-grading.md
Labels: none

rules-and-grading: Update lecture quizzes information
  rules-and-grading.md
Labels: none

Update rules-and-grading.md homework dates
  rules-and-grading.md
Labels: none

Update rules-and-grading.md new hw bonus rule added
  rules-and-grading.md
Labels: none

Update rules-and-grading.md
  rules-and-grading.md
Labels: none

Update rules-and-grading.md typo
  rules-and-grading.md
Labels: none

Update rules-and-grading.md
  rules-and-grading.md
Labels: none

Update rules-and-grading.md homework
  rules-and-grading.md
Labels: none

Apply suggestion from @teodutu
  labs/lab-04/reading/x86-architecture-family.md
Labels: labs/lab-04, area/reading

labs/lab-05/mul: Add newline a the end of solution
  labs/lab-05/tasks/mul/solution/multiply.asm
Labels: labs/lab-05, area/tasks

Lab03 : binary_search.c : Add solution
  labs/lab-03/tasks/binary_search/support/binary_search.c
Labels: labs/lab-03, area/tasks

.github/labeler.yml:

labs/lab-01:
  - labs/lab-01/**/*

labs/lab-02:
  - labs/lab-02/**/*

labs/lab-03:
  - labs/lab-03/**/*

labs/lab-04:
  - labs/lab-04/**/*

# labels for labs 5 to 12
labs/lab-05:
  - labs/lab-05/**/*

labs/lab-06:
  - labs/lab-06/**/*

labs/lab-07:
  - labs/lab-07/**/*

labs/lab-08:
  - labs/lab-08/**/*

labs/lab-09:
  - labs/lab-09/**/*

labs/lab-10:
  - labs/lab-10/**/*

labs/lab-11:
  - labs/lab-11/**/*

labs/lab-12:
  - labs/lab-12/**/*

area/reading:
  - '**/reading/*'
  - '**/reading/**/*'

area/media:
  - '**/media/*'
  - '**/media/**/*'

area/slides:
  - '**/slides/*'
  - '**/slides/**/*'

area/guides:
  - '**/guides/*'
  - '**/guides/**/*'

area/tasks:
  - '**/tasks/*'
  - '**/tasks/**/*'

area/questions:
  - '**/questions/*'
  - '**/questions/**/*'

area/projects:
  - '**/projects/*'
  - '**/projects/**/*'

area/infra:
  - 'common/*'
  - 'common/**/*'
  - 'scripts/*'
  - 'scripts/**/*'
  - '.github/*'
  - '.github/**/*'
  - 'Dockerfile'
  - 'Makefile'
  - 'config.yaml'
