Repository cs-pub-ro/hardware-software-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: labs/lab-01, labs/lab-02, labs/lab-03, labs/lab-04, labs/lab-05, labs/lab-06, labs/lab-07, labs/lab-08, labs/lab-09, labs/lab-10, labs/lab-11, labs/lab-12, area/reading, area/media, area/slides, area/guides, area/tasks, area/questions, area/projects, area/infra

Lab8/rot13: Don't modify the stack before invoking 'rot13'
  labs/lab-08/tasks/rot13/support/main.asm
Labels: labs/lab-08, area/tasks

Lab8/rot13: Remove the extra whitespace from the 'after_fmt' message
  labs/lab-08/tasks/rot13/support/main.asm
Labels: labs/lab-08, area/tasks

Lab8/rot13: Define the length of the "before" string as QWORD
  labs/lab-08/tasks/rot13/support/main.asm
Labels: labs/lab-08, area/tasks

Lab8/rot13: Don't modify the stack before invoking 'rot13'
  labs/lab-08/tasks/rot13/support/main.asm
Labels: labs/lab-08, area/tasks

Lab8/rot13: Remove the extra whitespace from the 'after_fmt' message
  labs/lab-08/tasks/rot13/support/main.asm
Labels: labs/lab-08, area/tasks

labs/lab-10: Update x86_64 version for checker infrastructure
  labs/lab-10/tasks/data-buffer/support/data_buffer.asm
  labs/lab-10/tasks/overflow-for-binary/solution/exploit.py
  labs/lab-10/tasks/overflow-for-binary/solution/overflow_in_binary.c
  labs/lab-10/tasks/overflow-for-binary/support/overflow_in_binary
  labs/lab-10/tasks/overflow-in-c/README.md
  labs/lab-10/tasks/overflow-in-c/solution/README.md
  labs/lab-10/tasks/overflow-in-c/solution/exploit.py
  labs/lab-10/tasks/overflow-in-c/support/do_overflow.asm
  labs/lab-10/tasks/overwrite-ret-addr/solution/README.md
  labs/lab-10/tasks/overwrite-ret-addr/solution/exploit.py
  labs/lab-10/tasks/overwrite-ret-addr/solution/payload
  labs/lab-10/tasks/overwrite-ret-addr/support/break_this
  labs/lab-10/tasks/overwrite-ret-addr/support/break_this.c
  labs/lab-10/tasks/overwrite-ret-addr/tests/test.sh
  labs/lab-10/tasks/read-stdin-fgets/solution/Makefile
  labs/lab-10/tasks/read-stdin-fgets/solution/read_stdin_fgets.asm
  labs/lab-10/tasks/read-stdin-fgets/support/read_stdin_fgets.asm
  labs/lab-10/tasks/read-stdin-gets/support/Makefile
  labs/lab-10/tasks/read-stdin-gets/support/read_stdin.asm
  labs/lab-10/tasks/stack-buffer/solution/Makefile
  labs/lab-10/tasks/stack-buffer/solution/stack_buffer.asm
  labs/lab-10/tasks/stack-buffer/support/stack_buffer.asm
Labels: labs/lab-10, area/tasks

labs/lab-10: Add x86_64 version
  labs/lab-10/tasks/data-buffer/support/Makefile
  labs/lab-10/tasks/data-buffer/support/data_buffer.asm
  labs/lab-10/tasks/overflow-for-binary/solution/Makefile
  labs/lab-10/tasks/overflow-for-binary/solution/README.md
  labs/lab-10/tasks/overflow-for-binary/solution/payload
  labs/lab-10/tasks/overflow-for-binary/support/overflow_in_binary
  labs/lab-10/tasks/overflow-in-c/solution/README.md
  labs/lab-10/tasks/overflow-in-c/solution/payload
  labs/lab-10/tasks/overflow-in-c/support/Makefile
  labs/lab-10/tasks/overflow-in-c/support/do_overflow.asm
  labs/lab-10/tasks/overwrite-ret-addr/README.md
  labs/lab-10/tasks/overwrite-ret-addr/solution/README.md
  labs/lab-10/tasks/overwrite-ret-addr/support/Makefile
  labs/lab-10/tasks/overwrite-ret-addr/support/break_this.c
  labs/lab-10/tasks/read-stdin-fgets/README.md
  labs/lab-10/tasks/read-stdin-fgets/solution/read_stdin_fgets.asm
  labs/lab-10/tasks/read-stdin-fgets/support/Makefile
  labs/lab-10/tasks/read-stdin-fgets/support/read_stdin_fgets.asm
  labs/lab-10/tasks/read-stdin-gets/support/Makefile
  labs/lab-10/tasks/read-stdin-gets/support/read_stdin.asm
  labs/lab-10/tasks/stack-buffer/README.md
  labs/lab-10/tasks/stack-buffer/solution/stack_buffer.asm
  labs/lab-10/tasks/stack-buffer/support/Makefile
  labs/lab-10/tasks/stack-buffer/support/stack_buffer.asm
Labels: labs/lab-10, area/tasks

labs/lab-12: Port CTF tasks from 32-bit to 64-bit
  labs/lab-12/tasks/feeling-chained/.gitignore
  labs/lab-12/tasks/feeling-chained/solution/Makefile
  labs/lab-12/tasks/feeling-chained/solution/README.md
  labs/lab-12/tasks/feeling-chained/solution/buff-ovf3.c
  labs/lab-12/tasks/feeling-chained/solution/exploit.sh
  labs/lab-12/tasks/feeling-chained/solution/solve.sh
  labs/lab-12/tasks/feeling-chained/support/buff-ovf3
  labs/lab-12/tasks/feeling-chained/support/exploit.sh
  labs/lab-12/tasks/hidden-in-plain-sight-1/.gitignore
  labs/lab-12/tasks/hidden-in-plain-sight-1/solution/Makefile
  labs/lab-12/tasks/hidden-in-plain-sight-1/solution/README.md
  labs/lab-12/tasks/hidden-in-plain-sight-1/support/link
  labs/lab-12/tasks/hidden-in-plain-sight-2/.gitignore
  labs/lab-12/tasks/hidden-in-plain-sight-2/solution/Makefile
  labs/lab-12/tasks/hidden-in-plain-sight-2/solution/README.md
  labs/lab-12/tasks/hidden-in-plain-sight-2/support/link2
  labs/lab-12/tasks/indirect-business/.gitignore
  labs/lab-12/tasks/indirect-business/solution/Makefile
  labs/lab-12/tasks/indirect-business/solution/README.md
  labs/lab-12/tasks/indirect-business/support/buff-ovf
  labs/lab-12/tasks/look-at-him-go/.gitignore
  labs/lab-12/tasks/look-at-him-go/support/dynamic
  labs/lab-12/tasks/playing-god/.gitignore
  labs/lab-12/tasks/playing-god/solution/Makefile
  labs/lab-12/tasks/playing-god/solution/README.md
  labs/lab-12/tasks/playing-god/support/dynamic2
  labs/lab-12/tasks/rip-my-buffers-off/.gitignore
  labs/lab-12/tasks/rip-my-buffers-off/solution/Makefile
  labs/lab-12/tasks/rip-my-buffers-off/solution/README.md
  labs/lab-12/tasks/rip-my-buffers-off/solution/buff-ovf2.c
  labs/lab-12/tasks/rip-my-buffers-off/solution/exploit.sh
  labs/lab-12/tasks/rip-my-buffers-off/support/buff-ovf2
  labs/lab-12/tasks/rop/.gitignore
  labs/lab-12/tasks/rop/solution/Makefile
  labs/lab-12/tasks/rop/solution/README.md
  labs/lab-12/tasks/rop/solution/exploit.sh
  labs/lab-12/tasks/rop/solution/rop.c
  labs/lab-12/tasks/rop/solution/solve.sh
  labs/lab-12/tasks/rop/support/exploit.sh
  labs/lab-12/tasks/rop/support/rop
Labels: labs/lab-12, area/tasks

lab-12: Fix inconsistencies in `rop.md`.
  labs/lab-12/reading/rop.md
Labels: labs/lab-12, area/reading

lab-09/tasks: Fix ABI violations and logical bugs in 64-bit ports
  labs/lab-09/tasks/max-assembly-calls/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls/support/main.asm
  labs/lab-09/tasks/max-c-calls/solution/max.asm
  labs/lab-09/tasks/max-c-calls/support/max.asm
  labs/lab-09/tasks/regs-preserve/solution/main.asm
  labs/lab-09/tasks/regs-preserve/support/main.asm
  labs/lab-09/tasks/stack-frame/support/print_hello.asm
Labels: labs/lab-09, area/tasks

lab-09/reading: Fix 32-bit leftover syntax and typos
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/memory-layout-c-asm.md
Labels: labs/lab-09, area/reading

Modified max-c-calls-x86 to x86
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/tasks/max-c-calls-x86/solution/max.asm
  labs/lab-09/tasks/max-c-calls-x86/support/max.asm
  labs/lab-09/tasks/max-c-calls/solution/max.asm
  labs/lab-09/tasks/max-c-calls/support/max.asm
  labs/lab-09/tasks/regs-preserve/support/main.asm
  labs/lab-09/tasks/regs-preserve/tests/results.txt
  labs/lab-09/tasks/stack-frame/support/print_hello.asm
Labels: labs/lab-09, area/reading, area/tasks

fixing trailiing whitespace
  labs/lab-09/reading/memory-layout-c-asm.md
Labels: labs/lab-09, area/reading

Lab9/max-c-calls-x86: Actually compile in 32-bit mode
  labs/lab-09/tasks/max-c-calls-x86/support/Makefile
Labels: labs/lab-09, area/tasks

Fix issue #155 by removing direct return from if
  labs/lab-03/tasks/binary_search/solution/binary_search.c
Labels: labs/lab-03, area/tasks

labs/lab-10: Fix read-stdin-gets segmentation fault
  labs/lab-10/tasks/read-stdin-gets/support/read_stdin.asm
Labels: labs/lab-10, area/tasks

labs/lab-10: Fix read-stdin-fgets segmentation fault
  labs/lab-10/tasks/read-stdin-fgets/support/read_stdin_fgets.asm
Labels: labs/lab-10, area/tasks

.github/labeler.yml:

labs/lab-01:
  - labs/lab-01/**/*

labs/lab-02:
  - labs/lab-02/**/*

labs/lab-03:
  - labs/lab-03/**/*

labs/lab-04:
  - labs/lab-04/**/*

# labels for labs 5 to 12
labs/lab-05:
  - labs/lab-05/**/*

labs/lab-06:
  - labs/lab-06/**/*

labs/lab-07:
  - labs/lab-07/**/*

labs/lab-08:
  - labs/lab-08/**/*

labs/lab-09:
  - labs/lab-09/**/*

labs/lab-10:
  - labs/lab-10/**/*

labs/lab-11:
  - labs/lab-11/**/*

labs/lab-12:
  - labs/lab-12/**/*

area/reading:
  - '**/reading/*'
  - '**/reading/**/*'

area/media:
  - '**/media/*'
  - '**/media/**/*'

area/slides:
  - '**/slides/*'
  - '**/slides/**/*'

area/guides:
  - '**/guides/*'
  - '**/guides/**/*'

area/tasks:
  - '**/tasks/*'
  - '**/tasks/**/*'

area/questions:
  - '**/questions/*'
  - '**/questions/**/*'

area/projects:
  - '**/projects/*'
  - '**/projects/**/*'

area/infra:
  - 'common/*'
  - 'common/**/*'
  - 'scripts/*'
  - 'scripts/**/*'
  - '.github/*'
  - '.github/**/*'
  - 'Dockerfile'
  - 'Makefile'
  - 'config.yaml'
