Repository cs-pub-ro/hardware-software-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: labs/lab-01, labs/lab-02, labs/lab-03, labs/lab-04, labs/lab-05, labs/lab-06, labs/lab-07, labs/lab-08, labs/lab-09, labs/lab-10, labs/lab-11, labs/lab-12, area/reading, area/media, area/slides, area/guides, area/tasks, area/questions, area/projects, area/infra

.github/labeler.yml:

labs/lab-01:
  - labs/lab-01/**/*

labs/lab-02:
  - labs/lab-02/**/*

labs/lab-03:
  - labs/lab-03/**/*

labs/lab-04:
  - labs/lab-04/**/*

# labels for labs 5 to 12
labs/lab-05:
  - labs/lab-05/**/*

labs/lab-06:
  - labs/lab-06/**/*

labs/lab-07:
  - labs/lab-07/**/*

labs/lab-08:
  - labs/lab-08/**/*

labs/lab-09:
  - labs/lab-09/**/*

labs/lab-10:
  - labs/lab-10/**/*

labs/lab-11:
  - labs/lab-11/**/*

labs/lab-12:
  - labs/lab-12/**/*

area/reading:
  - '**/reading/*'
  - '**/reading/**/*'

area/media:
  - '**/media/*'
  - '**/media/**/*'

area/slides:
  - '**/slides/*'
  - '**/slides/**/*'

area/guides:
  - '**/guides/*'
  - '**/guides/**/*'

area/tasks:
  - '**/tasks/*'
  - '**/tasks/**/*'

area/questions:
  - '**/questions/*'
  - '**/questions/**/*'

area/projects:
  - '**/projects/*'
  - '**/projects/**/*'

area/infra:
  - 'common/*'
  - 'common/**/*'
  - 'scripts/*'
  - 'scripts/**/*'
  - '.github/*'
  - '.github/**/*'
  - 'Dockerfile'
  - 'Makefile'
  - 'config.yaml'

labs/lab-08: Modify task `print-rev-string` to correspond to README.md
  labs/lab-08/tasks/print-rev-string/README.md
  labs/lab-08/tasks/print-rev-string/solution/main.asm
  labs/lab-08/tasks/print-rev-string/solution/print_reverse_string.asm
  labs/lab-08/tasks/print-rev-string/support/main.asm
  labs/lab-08/tasks/print-rev-string/support/print_reverse_string.asm
  labs/lab-08/tasks/print-rev-string/tests/test_print_reverse_string.c
Labels: labs/lab-08, area/tasks

labs/lab-08: Add missing `stack.svg` image
  labs/lab-08/media/stack.svg
Labels: labs/lab-08, area/media

labs/lab-08: Fix a path typo in /tasks/string-print/README.md
  labs/lab-08/tasks/string-print/README.md
Labels: labs/lab-08, area/tasks

labs/lab-02: Add x86_64 version
  labs/lab-02/media/arit.svg
  labs/lab-02/reading/memory-operations.md
  labs/lab-02/tasks/iterate/README.md
  labs/lab-02/tasks/iterate/solution/array.c
  labs/lab-02/tasks/iterate/solution/array.h
  labs/lab-02/tasks/iterate/solution/iterate.c
  labs/lab-02/tasks/iterate/solution/iterate.h
  labs/lab-02/tasks/iterate/solution/main.c
  labs/lab-02/tasks/iterate/support/array.c
  labs/lab-02/tasks/iterate/support/array.h
  labs/lab-02/tasks/iterate/support/iterate.c
  labs/lab-02/tasks/iterate/support/iterate.h
  labs/lab-02/tasks/iterate/support/main.c
  labs/lab-02/tasks/iterate/tests/test_iterate.c
Labels: labs/lab-02, area/reading, area/media, area/tasks

infra: Do not copy files into image
  Dockerfile
Labels: area/infra

ci: Add actions to deploy jekyll site
  .github/workflows/deployment.yml
  .github/workflows/pr-deployment.yml
Labels: area/infra

lab-09/tasks: Fix reading links
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/max-assembly-calls/README.md
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/stack-frame/README.md
Labels: labs/lab-09, area/tasks

labs/lab-09: Fix inconsistencies
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/max-assembly-calls-x64/README.md
  labs/lab-09/tasks/max-assembly-calls-x64/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/solution/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/support/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/support/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-assembly-calls/README.md
  labs/lab-09/tasks/max-assembly-calls/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls/solution/max.c
  labs/lab-09/tasks/max-assembly-calls/support/main.asm
  labs/lab-09/tasks/max-assembly-calls/support/max.c
  labs/lab-09/tasks/max-assembly-calls/tests/tests.sh
  labs/lab-09/tasks/max-c-calls-x64/README.md
  labs/lab-09/tasks/max-c-calls-x64/solution/main.c
  labs/lab-09/tasks/max-c-calls-x64/support/main.c
  labs/lab-09/tasks/max-c-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-c-calls/README.md
  labs/lab-09/tasks/max-c-calls/solution/main.c
  labs/lab-09/tasks/max-c-calls/support/main.c
  labs/lab-09/tasks/max-c-calls/tests/tests.sh
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/stack-frame/README.md
Labels: labs/lab-09, area/tasks

labs/lab-09/reading: Fix keyword
  labs/lab-09/reading/memory-layout-c-asm.md
Labels: labs/lab-09, area/reading

labs/lab-09/reading: Fix keyword
  labs/lab-09/reading/memory-layout-c-asm.md
Labels: labs/lab-09, area/reading

Update labs/lab-06/guides/max/support/max.asm
  labs/lab-06/guides/max/support/max.asm
Labels: labs/lab-06, area/guides

Update labs/lab-06/guides/students/support/students.asm
  labs/lab-06/guides/students/support/students.asm
Labels: labs/lab-06, area/guides

Update labs/lab-06/guides/students/support/students.asm
  labs/lab-06/guides/students/support/students.asm
Labels: labs/lab-06, area/guides

Update labs/lab-06/reading/arrays.md
  labs/lab-06/reading/arrays.md
Labels: labs/lab-06, area/reading

Update labs/lab-06/tasks/fibonacci/solution/fibo_sum.asm
  labs/lab-06/tasks/fibonacci/solution/fibo_sum.asm
Labels: labs/lab-06, area/tasks

Update labs/lab-06/reading/structures.md
  labs/lab-06/reading/structures.md
Labels: labs/lab-06, area/reading

Update labs/lab-06/reading/structures.md
  labs/lab-06/reading/structures.md
Labels: labs/lab-06, area/reading

Update labs/lab-06/reading/structures.md
  labs/lab-06/reading/structures.md
Labels: labs/lab-06, area/reading

Update labs/lab-06/tasks/mul-arrays/solution/mul_arrays.asm
  labs/lab-06/tasks/mul-arrays/solution/mul_arrays.asm
Labels: labs/lab-06, area/tasks

labs/lab-10: Add x86_64 version
  labs/lab-10/tasks/data-buffer/support/Makefile
  labs/lab-10/tasks/data-buffer/support/data_buffer.asm
  labs/lab-10/tasks/overflow-for-binary/solution/Makefile
  labs/lab-10/tasks/overflow-for-binary/solution/README.md
  labs/lab-10/tasks/overflow-for-binary/solution/payload
  labs/lab-10/tasks/overflow-for-binary/support/overflow_in_binary
  labs/lab-10/tasks/overflow-in-c/solution/README.md
  labs/lab-10/tasks/overflow-in-c/solution/payload
  labs/lab-10/tasks/overflow-in-c/support/Makefile
  labs/lab-10/tasks/overflow-in-c/support/do_overflow.asm
  labs/lab-10/tasks/overwrite-ret-addr/README.md
  labs/lab-10/tasks/overwrite-ret-addr/solution/README.md
  labs/lab-10/tasks/overwrite-ret-addr/solution/payload
  labs/lab-10/tasks/overwrite-ret-addr/support/Makefile
  labs/lab-10/tasks/overwrite-ret-addr/support/break_this
  labs/lab-10/tasks/overwrite-ret-addr/support/break_this.c
  labs/lab-10/tasks/read-stdin-fgets/README.md
  labs/lab-10/tasks/read-stdin-fgets/solution/read_stdin_fgets.asm
  labs/lab-10/tasks/read-stdin-fgets/support/Makefile
  labs/lab-10/tasks/read-stdin-fgets/support/read_stdin_fgets.asm
  labs/lab-10/tasks/read-stdin-gets/support/Makefile
  labs/lab-10/tasks/read-stdin-gets/support/read_stdin.asm
  labs/lab-10/tasks/stack-buffer/README.md
  labs/lab-10/tasks/stack-buffer/solution/stack_buffer.asm
  labs/lab-10/tasks/stack-buffer/support/Makefile
  labs/lab-10/tasks/stack-buffer/support/stack_buffer.asm
Labels: labs/lab-10, area/tasks

tasks: feeling-chained, hidden-in-plain-sight-1 && 2 -> translated to x86_64
  labs/lab-12/tasks/feeling-chained/solution/README.md
  labs/lab-12/tasks/feeling-chained/solution/buff-ovf3
  labs/lab-12/tasks/feeling-chained/solution/solve.sh
  labs/lab-12/tasks/hidden-in-plain-sight-1/solution/Makefile
  labs/lab-12/tasks/hidden-in-plain-sight-1/solution/README.md
  labs/lab-12/tasks/hidden-in-plain-sight-1/support/link
  labs/lab-12/tasks/hidden-in-plain-sight-2/solution/Makefile
  labs/lab-12/tasks/hidden-in-plain-sight-2/solution/README.md
  labs/lab-12/tasks/hidden-in-plain-sight-2/support/link2
Labels: labs/lab-12, area/tasks

feat: exploit scripts
  labs/lab-12/tasks/feeling-chained/support/exploit.sh
  labs/lab-12/tasks/indirect-business/support/exploit.sh
  labs/lab-12/tasks/rip-my-buffers-off/support/exploit.sh
  labs/lab-12/tasks/rop/support/exploit.sh
Labels: labs/lab-12, area/tasks

style: linter errors
  labs/lab-12/tasks/feeling-chained/support/exploit.sh
  labs/lab-12/tasks/feeling-chained/tests/tests.sh
  labs/lab-12/tasks/indirect-business/support/exploit.sh
  labs/lab-12/tasks/indirect-business/tests/tests.sh
  labs/lab-12/tasks/rip-my-buffers-off/support/exploit.sh
  labs/lab-12/tasks/rip-my-buffers-off/tests/tests.sh
  labs/lab-12/tasks/rop/support/exploit.sh
  labs/lab-12/tasks/rop/tests/tests.sh
Labels: labs/lab-12, area/tasks

docs: license
  labs/lab-12/tasks/feeling-chained/support/exploit.sh
  labs/lab-12/tasks/indirect-business/support/exploit.sh
  labs/lab-12/tasks/rip-my-buffers-off/support/exploit.sh
  labs/lab-12/tasks/rop/support/exploit.sh
Labels: labs/lab-12, area/tasks

labs/lab-09/reading: Fix keyword
  labs/lab-09/reading/memory-layout-c-asm.md
Labels: labs/lab-09, area/reading

labs/lab-09: Fix inconsistencies
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/max-assembly-calls-x64/README.md
  labs/lab-09/tasks/max-assembly-calls-x64/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/solution/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/support/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/support/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-assembly-calls/README.md
  labs/lab-09/tasks/max-assembly-calls/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls/solution/max.c
  labs/lab-09/tasks/max-assembly-calls/support/main.asm
  labs/lab-09/tasks/max-assembly-calls/support/max.c
  labs/lab-09/tasks/max-assembly-calls/tests/tests.sh
  labs/lab-09/tasks/max-c-calls-x64/README.md
  labs/lab-09/tasks/max-c-calls-x64/solution/main.c
  labs/lab-09/tasks/max-c-calls-x64/support/main.c
  labs/lab-09/tasks/max-c-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-c-calls/README.md
  labs/lab-09/tasks/max-c-calls/solution/main.c
  labs/lab-09/tasks/max-c-calls/support/main.c
  labs/lab-09/tasks/max-c-calls/tests/tests.sh
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/stack-frame/README.md
Labels: labs/lab-09, area/tasks

lab-09/tasks: Fix reading links
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/max-assembly-calls/README.md
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/stack-frame/README.md
Labels: labs/lab-09, area/tasks

workflows/pr-deployment: Solve issue regarding PR rendering
  .github/workflows/pr-deployment.yml
  Gemfile
Labels: area/infra

labs/lab-11: Fix task order
  labs/lab-11/tasks/entry-fix-1/README.md
  labs/lab-11/tasks/entry-fix-2/README.md
  labs/lab-11/tasks/include-fix/README.md
  labs/lab-11/tasks/lib-fix/README.md
  labs/lab-11/tasks/multiple-link/README.md
  labs/lab-11/tasks/obj-link-dev/README.md
  labs/lab-11/tasks/single-link/README.md
  labs/lab-11/tasks/var-func-fix/README.md
  labs/lab-11/tasks/vars-obs/README.md
Labels: labs/lab-11, area/tasks

labs/lab-11: Fix `include-fix` checker
  labs/lab-11/tasks/include-fix/tests/test.sh
Labels: labs/lab-11, area/tasks

.github/workflows: Push changes from main to gh-pages
  .github/workflows/deploy-main.yml
Labels: area/infra

labs/lab-11: Update ld library search path for task `single-link`
  labs/lab-11/tasks/single-link/solution/b-static/Makefile
  labs/lab-11/tasks/single-link/support/example/b-static/Makefile
Labels: labs/lab-11, area/tasks

deploy: db9fabc84bd2b4cd584202ac06eaea68729b02f6
  Gemfile.lock
  labs/lab-11/tasks/single-link/solution/b-static/Makefile
  labs/lab-11/tasks/single-link/support/example/b-static/Makefile
Labels: labs/lab-11, area/tasks

labs/lab-02: Add x86_64 version
  labs/lab-02/media/arit.svg
  labs/lab-02/reading/memory-operations.md
  labs/lab-02/tasks/iterate/README.md
  labs/lab-02/tasks/iterate/solution/array.c
  labs/lab-02/tasks/iterate/solution/array.h
  labs/lab-02/tasks/iterate/solution/iterate.c
  labs/lab-02/tasks/iterate/solution/iterate.h
  labs/lab-02/tasks/iterate/solution/main.c
  labs/lab-02/tasks/iterate/support/array.c
  labs/lab-02/tasks/iterate/support/array.h
  labs/lab-02/tasks/iterate/support/iterate.c
  labs/lab-02/tasks/iterate/support/iterate.h
  labs/lab-02/tasks/iterate/support/main.c
  labs/lab-02/tasks/iterate/tests/test_iterate.c
Labels: labs/lab-02, area/reading, area/media, area/tasks

infra/actions: Add `x86_64` branch to linters
  .github/workflows/actions.yml
Labels: area/infra

labs/lab-10: Add x86_64 version
  labs/lab-10/tasks/data-buffer/support/Makefile
  labs/lab-10/tasks/data-buffer/support/data_buffer.asm
  labs/lab-10/tasks/overflow-for-binary/solution/Makefile
  labs/lab-10/tasks/overflow-for-binary/solution/README.md
  labs/lab-10/tasks/overflow-for-binary/solution/payload
  labs/lab-10/tasks/overflow-for-binary/support/overflow_in_binary
  labs/lab-10/tasks/overflow-in-c/solution/README.md
  labs/lab-10/tasks/overflow-in-c/solution/payload
  labs/lab-10/tasks/overflow-in-c/support/Makefile
  labs/lab-10/tasks/overflow-in-c/support/do_overflow.asm
  labs/lab-10/tasks/overwrite-ret-addr/README.md
  labs/lab-10/tasks/overwrite-ret-addr/solution/README.md
  labs/lab-10/tasks/overwrite-ret-addr/support/Makefile
  labs/lab-10/tasks/overwrite-ret-addr/support/break_this.c
  labs/lab-10/tasks/read-stdin-fgets/README.md
  labs/lab-10/tasks/read-stdin-fgets/solution/read_stdin_fgets.asm
  labs/lab-10/tasks/read-stdin-fgets/support/Makefile
  labs/lab-10/tasks/read-stdin-fgets/support/read_stdin_fgets.asm
  labs/lab-10/tasks/read-stdin-gets/support/Makefile
  labs/lab-10/tasks/read-stdin-gets/support/read_stdin.asm
  labs/lab-10/tasks/stack-buffer/README.md
  labs/lab-10/tasks/stack-buffer/solution/stack_buffer.asm
  labs/lab-10/tasks/stack-buffer/support/Makefile
  labs/lab-10/tasks/stack-buffer/support/stack_buffer.asm
Labels: labs/lab-10, area/tasks

labs/lab-10: Update x86_64 version for checker infrastructure
  labs/lab-10/tasks/data-buffer/support/data_buffer.asm
  labs/lab-10/tasks/overflow-for-binary/solution/exploit.py
  labs/lab-10/tasks/overflow-for-binary/solution/overflow_in_binary.c
  labs/lab-10/tasks/overflow-for-binary/support/overflow_in_binary
  labs/lab-10/tasks/overflow-in-c/README.md
  labs/lab-10/tasks/overflow-in-c/solution/README.md
  labs/lab-10/tasks/overflow-in-c/solution/exploit.py
  labs/lab-10/tasks/overflow-in-c/support/do_overflow.asm
  labs/lab-10/tasks/overwrite-ret-addr/solution/README.md
  labs/lab-10/tasks/overwrite-ret-addr/solution/exploit.py
  labs/lab-10/tasks/overwrite-ret-addr/solution/payload
  labs/lab-10/tasks/overwrite-ret-addr/support/break_this
  labs/lab-10/tasks/overwrite-ret-addr/support/break_this.c
  labs/lab-10/tasks/overwrite-ret-addr/tests/test.sh
  labs/lab-10/tasks/read-stdin-fgets/solution/Makefile
  labs/lab-10/tasks/read-stdin-fgets/solution/read_stdin_fgets.asm
  labs/lab-10/tasks/read-stdin-fgets/support/read_stdin_fgets.asm
  labs/lab-10/tasks/read-stdin-gets/support/Makefile
  labs/lab-10/tasks/read-stdin-gets/support/read_stdin.asm
  labs/lab-10/tasks/stack-buffer/solution/Makefile
  labs/lab-10/tasks/stack-buffer/solution/stack_buffer.asm
  labs/lab-10/tasks/stack-buffer/support/stack_buffer.asm
Labels: labs/lab-10, area/tasks

labs/lab-12: Add checker infrastructure
  labs/lab-12/tasks/feeling-chained/README.md
  labs/lab-12/tasks/feeling-chained/solution/README.md
  labs/lab-12/tasks/feeling-chained/solution/exploit.sh
  labs/lab-12/tasks/feeling-chained/solution/solve.sh
  labs/lab-12/tasks/feeling-chained/support/buff-ovf3
  labs/lab-12/tasks/feeling-chained/support/exploit.sh
  labs/lab-12/tasks/feeling-chained/tests/Makefile
  labs/lab-12/tasks/feeling-chained/tests/graded_test.inc.sh
  labs/lab-12/tasks/feeling-chained/tests/run_all_tests.sh
  labs/lab-12/tasks/feeling-chained/tests/tests.sh
  labs/lab-12/tasks/indirect-business/README.md
  labs/lab-12/tasks/indirect-business/solution/exploit.sh
  labs/lab-12/tasks/indirect-business/support/exploit.sh
  labs/lab-12/tasks/indirect-business/tests/Makefile
  labs/lab-12/tasks/indirect-business/tests/graded_test.inc.sh
  labs/lab-12/tasks/indirect-business/tests/run_all_tests.sh
  labs/lab-12/tasks/indirect-business/tests/tests.sh
  labs/lab-12/tasks/rip-my-buffers-off/README.md
  labs/lab-12/tasks/rip-my-buffers-off/solution/README.md
  labs/lab-12/tasks/rip-my-buffers-off/solution/exploit.sh
  labs/lab-12/tasks/rip-my-buffers-off/solution/solve.sh
  labs/lab-12/tasks/rip-my-buffers-off/support/buff-ovf2
  labs/lab-12/tasks/rip-my-buffers-off/support/exploit.sh
  labs/lab-12/tasks/rip-my-buffers-off/tests/Makefile
  labs/lab-12/tasks/rip-my-buffers-off/tests/graded_test.inc.sh
  labs/lab-12/tasks/rip-my-buffers-off/tests/run_all_tests.sh
  labs/lab-12/tasks/rip-my-buffers-off/tests/tests.sh
  labs/lab-12/tasks/rop/README.md
  labs/lab-12/tasks/rop/solution/README.md
  labs/lab-12/tasks/rop/solution/exploit.sh
  labs/lab-12/tasks/rop/solution/solve.sh
  labs/lab-12/tasks/rop/support/exploit.sh
  labs/lab-12/tasks/rop/support/rop
  labs/lab-12/tasks/rop/tests/Makefile
  labs/lab-12/tasks/rop/tests/graded_test.inc.sh
  labs/lab-12/tasks/rop/tests/run_all_tests.sh
  labs/lab-12/tasks/rop/tests/tests.sh
Labels: labs/lab-12, area/tasks

deploy: 249344343d8bb42fbc71933cbe4ebbad41875e82
  Gemfile.lock
  assets/js/search-data.json
  labs/lab-12/tasks/feeling-chained/README.html
  labs/lab-12/tasks/feeling-chained/solution/README.html
  labs/lab-12/tasks/feeling-chained/solution/exploit.sh
  labs/lab-12/tasks/feeling-chained/solution/solve.sh
  labs/lab-12/tasks/feeling-chained/support/buff-ovf3
  labs/lab-12/tasks/feeling-chained/support/exploit.sh
  labs/lab-12/tasks/feeling-chained/tests/Makefile
  labs/lab-12/tasks/feeling-chained/tests/graded_test.inc.sh
  labs/lab-12/tasks/feeling-chained/tests/run_all_tests.sh
  labs/lab-12/tasks/feeling-chained/tests/tests.sh
  labs/lab-12/tasks/indirect-business/README.html
  labs/lab-12/tasks/indirect-business/solution/exploit.sh
  labs/lab-12/tasks/indirect-business/support/exploit.sh
  labs/lab-12/tasks/indirect-business/tests/Makefile
  labs/lab-12/tasks/indirect-business/tests/graded_test.inc.sh
  labs/lab-12/tasks/indirect-business/tests/run_all_tests.sh
  labs/lab-12/tasks/indirect-business/tests/tests.sh
  labs/lab-12/tasks/rip-my-buffers-off/README.html
  labs/lab-12/tasks/rip-my-buffers-off/solution/README.html
  labs/lab-12/tasks/rip-my-buffers-off/solution/exploit.sh
  labs/lab-12/tasks/rip-my-buffers-off/solution/solve.sh
  labs/lab-12/tasks/rip-my-buffers-off/support/buff-ovf2
  labs/lab-12/tasks/rip-my-buffers-off/support/exploit.sh
  labs/lab-12/tasks/rip-my-buffers-off/tests/Makefile
  labs/lab-12/tasks/rip-my-buffers-off/tests/graded_test.inc.sh
  labs/lab-12/tasks/rip-my-buffers-off/tests/run_all_tests.sh
  labs/lab-12/tasks/rip-my-buffers-off/tests/tests.sh
  labs/lab-12/tasks/rop/README.html
  labs/lab-12/tasks/rop/solution/README.html
  labs/lab-12/tasks/rop/solution/exploit.sh
  labs/lab-12/tasks/rop/solution/solve.sh
  labs/lab-12/tasks/rop/support/exploit.sh
  labs/lab-12/tasks/rop/support/rop
  labs/lab-12/tasks/rop/tests/Makefile
  labs/lab-12/tasks/rop/tests/graded_test.inc.sh
  labs/lab-12/tasks/rop/tests/run_all_tests.sh
  labs/lab-12/tasks/rop/tests/tests.sh
Labels: labs/lab-12, area/tasks

infra/actions: Add `x86_64` branch to linters
  .github/workflows/actions.yml
Labels: area/infra
