Repository cs-pub-ro/hardware-software-interface, changes with the labels that .github/labeler.yml gives for each.
All labels: labs/lab-01, labs/lab-02, labs/lab-03, labs/lab-04, labs/lab-05, labs/lab-06, labs/lab-07, labs/lab-08, labs/lab-09, labs/lab-10, labs/lab-11, labs/lab-12, area/reading, area/media, area/slides, area/guides, area/tasks, area/questions, area/projects, area/infra

labs/lab-02: Add x86_64 version
  labs/lab-02/media/arit.svg
  labs/lab-02/reading/memory-operations.md
  labs/lab-02/tasks/iterate/README.md
  labs/lab-02/tasks/iterate/solution/array.c
  labs/lab-02/tasks/iterate/solution/array.h
  labs/lab-02/tasks/iterate/solution/iterate.c
  labs/lab-02/tasks/iterate/solution/iterate.h
  labs/lab-02/tasks/iterate/solution/main.c
  labs/lab-02/tasks/iterate/support/array.c
  labs/lab-02/tasks/iterate/support/array.h
  labs/lab-02/tasks/iterate/support/iterate.c
  labs/lab-02/tasks/iterate/support/iterate.h
  labs/lab-02/tasks/iterate/support/main.c
  labs/lab-02/tasks/iterate/tests/test_iterate.c
Labels: labs/lab-02, area/reading, area/media, area/tasks

labs/lab-02: Add x86_64 version
  labs/lab-02/media/arit.svg
  labs/lab-02/reading/memory-operations.md
  labs/lab-02/tasks/iterate/README.md
  labs/lab-02/tasks/iterate/solution/array.c
  labs/lab-02/tasks/iterate/solution/array.h
  labs/lab-02/tasks/iterate/solution/iterate.c
  labs/lab-02/tasks/iterate/solution/iterate.h
  labs/lab-02/tasks/iterate/solution/main.c
  labs/lab-02/tasks/iterate/support/array.c
  labs/lab-02/tasks/iterate/support/array.h
  labs/lab-02/tasks/iterate/support/iterate.c
  labs/lab-02/tasks/iterate/support/iterate.h
  labs/lab-02/tasks/iterate/support/main.c
  labs/lab-02/tasks/iterate/tests/test_iterate.c
Labels: labs/lab-02, area/reading, area/media, area/tasks

infra/actions: Add `x86_64` branch to linters
  .github/workflows/actions.yml
Labels: area/infra

labs/lab-09: Changed reading materials for x86-64 version
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/stack-c-asm.md
Labels: labs/lab-09, area/reading

labs/lab-09: Added reading material for GCC Extended ASM
  labs/lab-09/reading/inline-assembly.md
Labels: labs/lab-09, area/reading

labs/lab-09: Changed export-fix task
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/export-fix/solution/a-func/hidden.c
  labs/lab-09/tasks/export-fix/solution/a-func/main.c
  labs/lab-09/tasks/export-fix/solution/a-func/ops.h
  labs/lab-09/tasks/export-fix/solution/a-func/plain.c
  labs/lab-09/tasks/export-fix/solution/b-var/hidden.c
  labs/lab-09/tasks/export-fix/solution/b-var/main.c
  labs/lab-09/tasks/export-fix/solution/b-var/ops.h
  labs/lab-09/tasks/export-fix/solution/b-var/plain.c
  labs/lab-09/tasks/export-fix/solution/c-var-2/hidden.c
  labs/lab-09/tasks/export-fix/solution/c-var-2/main.c
  labs/lab-09/tasks/export-fix/solution/c-var-2/ops.h
  labs/lab-09/tasks/export-fix/solution/c-var-2/plain.c
  labs/lab-09/tasks/export-fix/support/a-func/hidden.c
  labs/lab-09/tasks/export-fix/support/a-func/main.c
  labs/lab-09/tasks/export-fix/support/a-func/ops.h
  labs/lab-09/tasks/export-fix/support/a-func/plain.c
  labs/lab-09/tasks/export-fix/support/b-var/hidden.c
  labs/lab-09/tasks/export-fix/support/b-var/main.c
  labs/lab-09/tasks/export-fix/support/b-var/ops.h
  labs/lab-09/tasks/export-fix/support/b-var/plain.c
  labs/lab-09/tasks/export-fix/support/c-var-2/hidden.c
  labs/lab-09/tasks/export-fix/support/c-var-2/main.c
  labs/lab-09/tasks/export-fix/support/c-var-2/ops.h
  labs/lab-09/tasks/export-fix/support/c-var-2/plain.c
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed max-c-calls task
  labs/lab-09/tasks/max-c-calls-x64/README.md
  labs/lab-09/tasks/max-c-calls-x64/solution/.gitignore
  labs/lab-09/tasks/max-c-calls-x64/solution/Makefile
  labs/lab-09/tasks/max-c-calls-x64/solution/main.c
  labs/lab-09/tasks/max-c-calls-x64/solution/max.asm
  labs/lab-09/tasks/max-c-calls-x64/support/.gitignore
  labs/lab-09/tasks/max-c-calls-x64/support/Makefile
  labs/lab-09/tasks/max-c-calls-x64/support/main.c
  labs/lab-09/tasks/max-c-calls-x64/support/max.asm
  labs/lab-09/tasks/max-c-calls-x64/tests/Makefile
  labs/lab-09/tasks/max-c-calls-x64/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-c-calls-x64/tests/run_all_tests.sh
  labs/lab-09/tasks/max-c-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-c-calls/README.md
  labs/lab-09/tasks/max-c-calls/solution/Makefile
  labs/lab-09/tasks/max-c-calls/solution/main.c
  labs/lab-09/tasks/max-c-calls/solution/max.asm
  labs/lab-09/tasks/max-c-calls/support/Makefile
  labs/lab-09/tasks/max-c-calls/support/main.c
  labs/lab-09/tasks/max-c-calls/support/max.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed regs-preserve task
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/regs-preserve/solution/.gitignore
  labs/lab-09/tasks/regs-preserve/solution/Makefile
  labs/lab-09/tasks/regs-preserve/solution/double_array.c
  labs/lab-09/tasks/regs-preserve/solution/main.asm
  labs/lab-09/tasks/regs-preserve/support/Makefile
  labs/lab-09/tasks/regs-preserve/support/double_array.c
  labs/lab-09/tasks/regs-preserve/support/main.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed include-fix task
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/include-fix/solution/.gitignore
  labs/lab-09/tasks/include-fix/solution/Makefile
  labs/lab-09/tasks/include-fix/solution/hello.c
  labs/lab-09/tasks/include-fix/support/Makefile
  labs/lab-09/tasks/include-fix/support/hello.c
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed max-assembly-calls task
  labs/lab-09/tasks/max-assembly-calls-x64/README.md
  labs/lab-09/tasks/max-assembly-calls-x64/solution/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x64/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/solution/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x64/support/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/support/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/support/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/tests/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-assembly-calls-x64/tests/run_all_tests.sh
  labs/lab-09/tasks/max-assembly-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-assembly-calls/.gitignore
  labs/lab-09/tasks/max-assembly-calls/README.md
  labs/lab-09/tasks/max-assembly-calls/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls/solution/max.c
  labs/lab-09/tasks/max-assembly-calls/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls/support/Makefile
  labs/lab-09/tasks/max-assembly-calls/support/main.asm
  labs/lab-09/tasks/max-assembly-calls/support/max.c
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed stack-frame task
  labs/lab-09/tasks/stack-frame/README.md
  labs/lab-09/tasks/stack-frame/solution/Makefile
  labs/lab-09/tasks/stack-frame/solution/main.c
  labs/lab-09/tasks/stack-frame/solution/print_hello.asm
  labs/lab-09/tasks/stack-frame/support/Makefile
  labs/lab-09/tasks/stack-frame/support/main.c
  labs/lab-09/tasks/stack-frame/support/print_hello.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed reading materials for x86-64 version
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/stack-c-asm.md
Labels: labs/lab-09, area/reading

labs/lab-09: Changed include-fix task
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/include-fix/solution/.gitignore
  labs/lab-09/tasks/include-fix/solution/Makefile
  labs/lab-09/tasks/include-fix/solution/hello.c
  labs/lab-09/tasks/include-fix/support/Makefile
  labs/lab-09/tasks/include-fix/support/hello.c
Labels: labs/lab-09, area/tasks

labs/lab-09: Added reading material for GCC Extended ASM
  labs/lab-09/reading/inline-assembly.md
Labels: labs/lab-09, area/reading

labs/lab-09: Changed export-fix task
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/export-fix/solution/a-func/hidden.c
  labs/lab-09/tasks/export-fix/solution/a-func/main.c
  labs/lab-09/tasks/export-fix/solution/a-func/ops.h
  labs/lab-09/tasks/export-fix/solution/a-func/plain.c
  labs/lab-09/tasks/export-fix/solution/b-var/hidden.c
  labs/lab-09/tasks/export-fix/solution/b-var/main.c
  labs/lab-09/tasks/export-fix/solution/b-var/ops.h
  labs/lab-09/tasks/export-fix/solution/b-var/plain.c
  labs/lab-09/tasks/export-fix/solution/c-var-2/hidden.c
  labs/lab-09/tasks/export-fix/solution/c-var-2/main.c
  labs/lab-09/tasks/export-fix/solution/c-var-2/ops.h
  labs/lab-09/tasks/export-fix/solution/c-var-2/plain.c
  labs/lab-09/tasks/export-fix/support/a-func/hidden.c
  labs/lab-09/tasks/export-fix/support/a-func/main.c
  labs/lab-09/tasks/export-fix/support/a-func/ops.h
  labs/lab-09/tasks/export-fix/support/a-func/plain.c
  labs/lab-09/tasks/export-fix/support/b-var/hidden.c
  labs/lab-09/tasks/export-fix/support/b-var/main.c
  labs/lab-09/tasks/export-fix/support/b-var/ops.h
  labs/lab-09/tasks/export-fix/support/b-var/plain.c
  labs/lab-09/tasks/export-fix/support/c-var-2/hidden.c
  labs/lab-09/tasks/export-fix/support/c-var-2/main.c
  labs/lab-09/tasks/export-fix/support/c-var-2/ops.h
  labs/lab-09/tasks/export-fix/support/c-var-2/plain.c
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed stack-frame task
  labs/lab-09/tasks/stack-frame/README.md
  labs/lab-09/tasks/stack-frame/solution/Makefile
  labs/lab-09/tasks/stack-frame/solution/main.c
  labs/lab-09/tasks/stack-frame/solution/print_hello.asm
  labs/lab-09/tasks/stack-frame/support/Makefile
  labs/lab-09/tasks/stack-frame/support/main.c
  labs/lab-09/tasks/stack-frame/support/print_hello.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed max-c-calls task
  labs/lab-09/tasks/max-c-calls-x64/README.md
  labs/lab-09/tasks/max-c-calls-x64/solution/.gitignore
  labs/lab-09/tasks/max-c-calls-x64/solution/Makefile
  labs/lab-09/tasks/max-c-calls-x64/solution/main.c
  labs/lab-09/tasks/max-c-calls-x64/solution/max.asm
  labs/lab-09/tasks/max-c-calls-x64/support/.gitignore
  labs/lab-09/tasks/max-c-calls-x64/support/Makefile
  labs/lab-09/tasks/max-c-calls-x64/support/main.c
  labs/lab-09/tasks/max-c-calls-x64/support/max.asm
  labs/lab-09/tasks/max-c-calls-x64/tests/Makefile
  labs/lab-09/tasks/max-c-calls-x64/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-c-calls-x64/tests/run_all_tests.sh
  labs/lab-09/tasks/max-c-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-c-calls/README.md
  labs/lab-09/tasks/max-c-calls/solution/Makefile
  labs/lab-09/tasks/max-c-calls/solution/main.c
  labs/lab-09/tasks/max-c-calls/solution/max.asm
  labs/lab-09/tasks/max-c-calls/support/Makefile
  labs/lab-09/tasks/max-c-calls/support/main.c
  labs/lab-09/tasks/max-c-calls/support/max.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed max-assembly-calls task
  labs/lab-09/tasks/max-assembly-calls-x64/README.md
  labs/lab-09/tasks/max-assembly-calls-x64/solution/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x64/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/solution/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x64/support/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/support/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/support/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/tests/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-assembly-calls-x64/tests/run_all_tests.sh
  labs/lab-09/tasks/max-assembly-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-assembly-calls/.gitignore
  labs/lab-09/tasks/max-assembly-calls/README.md
  labs/lab-09/tasks/max-assembly-calls/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls/solution/max.c
  labs/lab-09/tasks/max-assembly-calls/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls/support/Makefile
  labs/lab-09/tasks/max-assembly-calls/support/main.asm
  labs/lab-09/tasks/max-assembly-calls/support/max.c
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed regs-preserve task
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/regs-preserve/solution/.gitignore
  labs/lab-09/tasks/regs-preserve/solution/Makefile
  labs/lab-09/tasks/regs-preserve/solution/double_array.c
  labs/lab-09/tasks/regs-preserve/solution/main.asm
  labs/lab-09/tasks/regs-preserve/support/Makefile
  labs/lab-09/tasks/regs-preserve/support/double_array.c
  labs/lab-09/tasks/regs-preserve/support/main.asm
Labels: labs/lab-09, area/tasks

labs/lab-12: Remove payload in `support` for `indirect-business` task
  labs/lab-12/tasks/indirect-business/support/exploit.sh
Labels: labs/lab-12, area/tasks

deploy: fc5de1b409836273809227c9c1bdd51104993921
  labs/lab-12/tasks/indirect-business/support/exploit.sh
Labels: labs/lab-12, area/tasks

labs/lab-09: Changed reading materials for x86-64 version
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/stack-c-asm.md
Labels: labs/lab-09, area/reading

labs/lab-09: Changed include-fix task
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/include-fix/solution/.gitignore
  labs/lab-09/tasks/include-fix/solution/Makefile
  labs/lab-09/tasks/include-fix/support/Makefile
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed export-fix task
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/export-fix/solution/a-func/ops.h
  labs/lab-09/tasks/export-fix/solution/b-var/ops.h
  labs/lab-09/tasks/export-fix/solution/c-var-2/ops.h
  labs/lab-09/tasks/export-fix/support/a-func/ops.h
  labs/lab-09/tasks/export-fix/support/b-var/ops.h
  labs/lab-09/tasks/export-fix/support/c-var-2/ops.h
Labels: labs/lab-09, area/tasks

labs/lab-09: Added reading material for GCC Extended ASM
  labs/lab-09/reading/inline-assembly.md
Labels: labs/lab-09, area/reading

labs/lab-09: Changed max-c-calls task
  labs/lab-09/tasks/max-c-calls-x64/README.md
  labs/lab-09/tasks/max-c-calls-x64/solution/.gitignore
  labs/lab-09/tasks/max-c-calls-x64/solution/Makefile
  labs/lab-09/tasks/max-c-calls-x64/solution/main.c
  labs/lab-09/tasks/max-c-calls-x64/solution/max.asm
  labs/lab-09/tasks/max-c-calls-x64/support/.gitignore
  labs/lab-09/tasks/max-c-calls-x64/support/Makefile
  labs/lab-09/tasks/max-c-calls-x64/support/main.c
  labs/lab-09/tasks/max-c-calls-x64/support/max.asm
  labs/lab-09/tasks/max-c-calls-x64/tests/Makefile
  labs/lab-09/tasks/max-c-calls-x64/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-c-calls-x64/tests/run_all_tests.sh
  labs/lab-09/tasks/max-c-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-c-calls/README.md
  labs/lab-09/tasks/max-c-calls/solution/Makefile
  labs/lab-09/tasks/max-c-calls/solution/main.c
  labs/lab-09/tasks/max-c-calls/solution/max.asm
  labs/lab-09/tasks/max-c-calls/support/Makefile
  labs/lab-09/tasks/max-c-calls/support/main.c
  labs/lab-09/tasks/max-c-calls/support/max.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed stack-frame task
  labs/lab-09/tasks/stack-frame/README.md
  labs/lab-09/tasks/stack-frame/solution/Makefile
  labs/lab-09/tasks/stack-frame/solution/main.c
  labs/lab-09/tasks/stack-frame/solution/print_hello.asm
  labs/lab-09/tasks/stack-frame/support/Makefile
  labs/lab-09/tasks/stack-frame/support/main.c
  labs/lab-09/tasks/stack-frame/support/print_hello.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed regs-preserve task
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/regs-preserve/solution/.gitignore
  labs/lab-09/tasks/regs-preserve/solution/Makefile
  labs/lab-09/tasks/regs-preserve/solution/main.asm
  labs/lab-09/tasks/regs-preserve/support/Makefile
  labs/lab-09/tasks/regs-preserve/support/main.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Changed max-assembly-calls task
  labs/lab-09/tasks/max-assembly-calls-x64/README.md
  labs/lab-09/tasks/max-assembly-calls-x64/solution/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x64/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/solution/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x64/support/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/support/main.asm
  labs/lab-09/tasks/max-assembly-calls-x64/support/max.c
  labs/lab-09/tasks/max-assembly-calls-x64/tests/Makefile
  labs/lab-09/tasks/max-assembly-calls-x64/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-assembly-calls-x64/tests/run_all_tests.sh
  labs/lab-09/tasks/max-assembly-calls-x64/tests/tests.sh
  labs/lab-09/tasks/max-assembly-calls/.gitignore
  labs/lab-09/tasks/max-assembly-calls/README.md
  labs/lab-09/tasks/max-assembly-calls/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls/solution/max.c
  labs/lab-09/tasks/max-assembly-calls/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls/support/Makefile
  labs/lab-09/tasks/max-assembly-calls/support/main.asm
Labels: labs/lab-09, area/tasks

labs/lab-09: Added 32-bit version of max-assembly-calls
  labs/lab-09/README.md
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/inline-assembly.md
  labs/lab-09/reading/memory-layout-c-asm.md
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/max-assembly-calls-x86/README.md
  labs/lab-09/tasks/max-assembly-calls-x86/solution/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x86/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls-x86/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls-x86/solution/max.c
  labs/lab-09/tasks/max-assembly-calls-x86/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x86/support/Makefile
  labs/lab-09/tasks/max-assembly-calls-x86/support/main.asm
  labs/lab-09/tasks/max-assembly-calls-x86/support/max.c
  labs/lab-09/tasks/max-assembly-calls-x86/tests/Makefile
  labs/lab-09/tasks/max-assembly-calls-x86/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-assembly-calls-x86/tests/run_all_tests.sh
  labs/lab-09/tasks/max-assembly-calls-x86/tests/tests.sh
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/stack-frame/README.md
Labels: labs/lab-09, area/reading, area/tasks

ci: Add actions to deploy jekyll site
  .github/workflows/deployment.yml
  .github/workflows/pr-deployment.yml
  .gitignore
  Dockerfile
  Gemfile.lock
  Makefile
Labels: area/infra

labs/lab-09: Added 32-bit version of max-assembly-calls
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/inline-assembly.md
  labs/lab-09/reading/memory-layout-c-asm.md
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/max-assembly-calls-x86/README.md
  labs/lab-09/tasks/max-assembly-calls-x86/solution/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x86/solution/Makefile
  labs/lab-09/tasks/max-assembly-calls-x86/solution/main.asm
  labs/lab-09/tasks/max-assembly-calls-x86/solution/max.c
  labs/lab-09/tasks/max-assembly-calls-x86/support/.gitignore
  labs/lab-09/tasks/max-assembly-calls-x86/support/Makefile
  labs/lab-09/tasks/max-assembly-calls-x86/support/main.asm
  labs/lab-09/tasks/max-assembly-calls-x86/support/max.c
  labs/lab-09/tasks/max-assembly-calls-x86/tests/Makefile
  labs/lab-09/tasks/max-assembly-calls-x86/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-assembly-calls-x86/tests/run_all_tests.sh
  labs/lab-09/tasks/max-assembly-calls-x86/tests/tests.sh
  labs/lab-09/tasks/max-assembly-calls/README.md
  labs/lab-09/tasks/max-c-calls-x86/.gitignore
  labs/lab-09/tasks/max-c-calls-x86/README.md
  labs/lab-09/tasks/max-c-calls-x86/solution/Makefile
  labs/lab-09/tasks/max-c-calls-x86/solution/main.c
  labs/lab-09/tasks/max-c-calls-x86/solution/max.asm
  labs/lab-09/tasks/max-c-calls-x86/support/Makefile
  labs/lab-09/tasks/max-c-calls-x86/support/main.c
  labs/lab-09/tasks/max-c-calls-x86/support/max.asm
  labs/lab-09/tasks/max-c-calls-x86/tests/Makefile
  labs/lab-09/tasks/max-c-calls-x86/tests/graded_test.inc.sh
  labs/lab-09/tasks/max-c-calls-x86/tests/run_all_tests.sh
  labs/lab-09/tasks/max-c-calls-x86/tests/tests.sh
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/stack-frame/README.md
Labels: labs/lab-09, area/reading, area/tasks

labs/lab-09: Added 32-bit version of max-assembly-calls
  labs/lab-09/README.md
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/inline-assembly.md
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/stack-frame/README.md
Labels: labs/lab-09, area/reading, area/tasks

labs/lab-09: Added 32-bit version of max-assembly-calls
  labs/lab-09/README.md
  labs/lab-09/reading/calling-convention.md
  labs/lab-09/reading/inline-assembly.md
  labs/lab-09/tasks/export-fix/README.md
  labs/lab-09/tasks/include-fix/README.md
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/stack-frame/README.md
Labels: labs/lab-09, area/reading, area/tasks

x86: Add deployment of x86 content on separate branch.
  .github/workflows/deployment.yml
Labels: area/infra

labs/lab-12: Remove payload in `support` for `indirect-business` task
  labs/lab-12/tasks/indirect-business/support/exploit.sh
Labels: labs/lab-12, area/tasks

labs/lab-12: Port CTF tasks from 32-bit to 64-bit
  labs/lab-12/tasks/feeling-chained/.gitignore
  labs/lab-12/tasks/feeling-chained/solution/Makefile
  labs/lab-12/tasks/feeling-chained/solution/README.md
  labs/lab-12/tasks/feeling-chained/solution/buff-ovf3.c
  labs/lab-12/tasks/feeling-chained/solution/exploit.sh
  labs/lab-12/tasks/feeling-chained/solution/solve.sh
  labs/lab-12/tasks/feeling-chained/support/buff-ovf3
  labs/lab-12/tasks/feeling-chained/support/exploit.sh
  labs/lab-12/tasks/hidden-in-plain-sight-1/.gitignore
  labs/lab-12/tasks/hidden-in-plain-sight-1/solution/Makefile
  labs/lab-12/tasks/hidden-in-plain-sight-1/solution/README.md
  labs/lab-12/tasks/hidden-in-plain-sight-1/support/link
  labs/lab-12/tasks/hidden-in-plain-sight-2/.gitignore
  labs/lab-12/tasks/hidden-in-plain-sight-2/solution/Makefile
  labs/lab-12/tasks/hidden-in-plain-sight-2/solution/README.md
  labs/lab-12/tasks/hidden-in-plain-sight-2/support/link2
  labs/lab-12/tasks/indirect-business/.gitignore
  labs/lab-12/tasks/indirect-business/solution/Makefile
  labs/lab-12/tasks/indirect-business/solution/README.md
  labs/lab-12/tasks/indirect-business/support/buff-ovf
  labs/lab-12/tasks/look-at-him-go/.gitignore
  labs/lab-12/tasks/look-at-him-go/support/dynamic
  labs/lab-12/tasks/playing-god/.gitignore
  labs/lab-12/tasks/playing-god/solution/Makefile
  labs/lab-12/tasks/playing-god/solution/README.md
  labs/lab-12/tasks/playing-god/support/dynamic2
  labs/lab-12/tasks/rip-my-buffers-off/.gitignore
  labs/lab-12/tasks/rip-my-buffers-off/solution/Makefile
  labs/lab-12/tasks/rip-my-buffers-off/solution/README.md
  labs/lab-12/tasks/rip-my-buffers-off/solution/buff-ovf2.c
  labs/lab-12/tasks/rip-my-buffers-off/solution/exploit.sh
  labs/lab-12/tasks/rip-my-buffers-off/support/buff-ovf2
  labs/lab-12/tasks/rop/.gitignore
  labs/lab-12/tasks/rop/solution/Makefile
  labs/lab-12/tasks/rop/solution/README.md
  labs/lab-12/tasks/rop/solution/exploit.sh
  labs/lab-12/tasks/rop/solution/rop.c
  labs/lab-12/tasks/rop/solution/solve.sh
  labs/lab-12/tasks/rop/support/exploit.sh
  labs/lab-12/tasks/rop/support/rop
Labels: labs/lab-12, area/tasks

infra/actions: Add `x86_64` branch to linters
  .github/workflows/actions.yml
Labels: area/infra

labs/lab-02: Add x86_64 version
  labs/lab-02/media/arit.svg
  labs/lab-02/reading/memory-operations.md
  labs/lab-02/tasks/iterate/README.md
  labs/lab-02/tasks/iterate/solution/array.c
  labs/lab-02/tasks/iterate/solution/array.h
  labs/lab-02/tasks/iterate/solution/iterate.c
  labs/lab-02/tasks/iterate/solution/iterate.h
  labs/lab-02/tasks/iterate/solution/main.c
  labs/lab-02/tasks/iterate/support/array.c
  labs/lab-02/tasks/iterate/support/array.h
  labs/lab-02/tasks/iterate/support/iterate.c
  labs/lab-02/tasks/iterate/support/iterate.h
  labs/lab-02/tasks/iterate/support/main.c
  labs/lab-02/tasks/iterate/tests/test_iterate.c
Labels: labs/lab-02, area/reading, area/media, area/tasks

labs/lab-09: Changed regs-preserve task
  labs/lab-09/tasks/regs-preserve/README.md
  labs/lab-09/tasks/regs-preserve/solution/.gitignore
  labs/lab-09/tasks/regs-preserve/solution/Makefile
  labs/lab-09/tasks/regs-preserve/solution/main.asm
  labs/lab-09/tasks/regs-preserve/support/Makefile
  labs/lab-09/tasks/regs-preserve/support/main.asm
Labels: labs/lab-09, area/tasks

.github/labeler.yml:

labs/lab-01:
  - labs/lab-01/**/*

labs/lab-02:
  - labs/lab-02/**/*

labs/lab-03:
  - labs/lab-03/**/*

labs/lab-04:
  - labs/lab-04/**/*

# labels for labs 5 to 12
labs/lab-05:
  - labs/lab-05/**/*

labs/lab-06:
  - labs/lab-06/**/*

labs/lab-07:
  - labs/lab-07/**/*

labs/lab-08:
  - labs/lab-08/**/*

labs/lab-09:
  - labs/lab-09/**/*

labs/lab-10:
  - labs/lab-10/**/*

labs/lab-11:
  - labs/lab-11/**/*

labs/lab-12:
  - labs/lab-12/**/*

area/reading:
  - '**/reading/*'
  - '**/reading/**/*'

area/media:
  - '**/media/*'
  - '**/media/**/*'

area/slides:
  - '**/slides/*'
  - '**/slides/**/*'

area/guides:
  - '**/guides/*'
  - '**/guides/**/*'

area/tasks:
  - '**/tasks/*'
  - '**/tasks/**/*'

area/questions:
  - '**/questions/*'
  - '**/questions/**/*'

area/projects:
  - '**/projects/*'
  - '**/projects/**/*'

area/infra:
  - 'common/*'
  - 'common/**/*'
  - 'scripts/*'
  - 'scripts/**/*'
  - '.github/*'
  - '.github/**/*'
  - 'Dockerfile'
  - 'Makefile'
  - 'config.yaml'
