Repository cs-pub-ro/hardware-software-interface, pull requests merged in 2024-03, with the labels that each got.

#1 intro-comparch/number-representation: Add reading and tasks
  CPPLINT.cfg
  chapters/intro-computer-architecture/binary-hex/demos/bitmask/.gitignore
  chapters/intro-computer-architecture/binary-hex/demos/bitmask/Makefile
  chapters/intro-computer-architecture/binary-hex/demos/bitmask/bitmask.c
  chapters/intro-computer-architecture/binary-hex/drills/tasks/conversions/README.md
  chapters/intro-computer-architecture/binary-hex/drills/tasks/odd-even/README.md
  chapters/intro-computer-architecture/binary-hex/drills/tasks/odd-even/solution/.gitignore
  chapters/intro-computer-architecture/binary-hex/drills/tasks/odd-even/solution/Makefile
  chapters/intro-computer-architecture/binary-hex/drills/tasks/odd-even/solution/odd_even.c
  chapters/intro-computer-architecture/binary-hex/drills/tasks/odd-even/support/.gitignore
  chapters/intro-computer-architecture/binary-hex/drills/tasks/odd-even/support/Makefile
  chapters/intro-computer-architecture/binary-hex/drills/tasks/odd-even/support/odd_even.c
  chapters/intro-computer-architecture/binary-hex/drills/tasks/rotations/README.md
  chapters/intro-computer-architecture/binary-hex/drills/tasks/rotations/solution/.gitignore
  chapters/intro-computer-architecture/binary-hex/drills/tasks/rotations/solution/Makefile
  chapters/intro-computer-architecture/binary-hex/drills/tasks/rotations/solution/rotations.c
  chapters/intro-computer-architecture/binary-hex/drills/tasks/rotations/support/.gitignore
  chapters/intro-computer-architecture/binary-hex/drills/tasks/rotations/support/Makefile
  chapters/intro-computer-architecture/binary-hex/drills/tasks/rotations/support/rotations.c
  chapters/intro-computer-architecture/binary-hex/media/hex-view.png
  chapters/intro-computer-architecture/binary-hex/media/left-logical-rotation.svg
  chapters/intro-computer-architecture/binary-hex/media/left-logical-shift.svg
  chapters/intro-computer-architecture/binary-hex/media/right-logical-shift.svg
  chapters/intro-computer-architecture/binary-hex/reading/README.md
  chapters/memory-layout/c-pointers/demos/pointers/Makefile
  chapters/memory-layout/c-pointers/demos/pointers/pointers.c
  chapters/memory-layout/c-pointers/drills/tasks/len-xor/README.md
  chapters/memory-layout/c-pointers/drills/tasks/len-xor/solution/.gitignore
  chapters/memory-layout/c-pointers/drills/tasks/len-xor/solution/Makefile
  chapters/memory-layout/c-pointers/drills/tasks/len-xor/solution/len_xor.c
  chapters/memory-layout/c-pointers/drills/tasks/len-xor/support/.gitignore
  chapters/memory-layout/c-pointers/drills/tasks/len-xor/support/Makefile
  chapters/memory-layout/c-pointers/drills/tasks/len-xor/support/len_xor.c
  chapters/memory-layout/c-pointers/drills/tasks/mirror/README.md
  chapters/memory-layout/c-pointers/drills/tasks/mirror/solution/.gitignore
  chapters/memory-layout/c-pointers/drills/tasks/mirror/solution/Makefile
  chapters/memory-layout/c-pointers/drills/tasks/mirror/solution/mirror.c
  chapters/memory-layout/c-pointers/drills/tasks/mirror/support/.gitignore
  chapters/memory-layout/c-pointers/drills/tasks/mirror/support/Makefile
  chapters/memory-layout/c-pointers/drills/tasks/mirror/support/mirror.c
  chapters/memory-layout/c-pointers/media/simple-double-pointer.svg
  chapters/memory-layout/c-pointers/reading/README.md
  config.yaml
Labels: needs-rendering

#6 workflows: Update `labeler.yml` with accurate labels
  .github/labeler.yml
Labels: kind/improve, area/infra

#5 memory-layout/memory-operations-and-GDB: Add reading and tasks
  chapters/memory-layout/introduction-to-GDB/drills/tasks/inspect/README.md
  chapters/memory-layout/introduction-to-GDB/drills/tasks/inspect/support/.gitignore
  chapters/memory-layout/introduction-to-GDB/drills/tasks/inspect/support/Makefile
  chapters/memory-layout/introduction-to-GDB/drills/tasks/inspect/support/inspect.c
  chapters/memory-layout/introduction-to-GDB/guides/segfault/README.md
  chapters/memory-layout/introduction-to-GDB/guides/segfault/support/.gitignore
  chapters/memory-layout/introduction-to-GDB/guides/segfault/support/Makefile
  chapters/memory-layout/introduction-to-GDB/guides/segfault/support/segfault.c
  chapters/memory-layout/introduction-to-GDB/reading/README.md
  chapters/memory-layout/memory-operations/drills/tasks/delete_first/README.md
  chapters/memory-layout/memory-operations/drills/tasks/delete_first/solution/.gitignore
  chapters/memory-layout/memory-operations/drills/tasks/delete_first/solution/Makefile
  chapters/memory-layout/memory-operations/drills/tasks/delete_first/solution/delete_first.c
  chapters/memory-layout/memory-operations/drills/tasks/delete_first/support/.gitignore
  chapters/memory-layout/memory-operations/drills/tasks/delete_first/support/Makefile
  chapters/memory-layout/memory-operations/drills/tasks/delete_first/support/delete_first.c
  chapters/memory-layout/memory-operations/drills/tasks/find_max/README.md
  chapters/memory-layout/memory-operations/drills/tasks/find_max/solution/.gitignore
  chapters/memory-layout/memory-operations/drills/tasks/find_max/solution/Makefile
  chapters/memory-layout/memory-operations/drills/tasks/find_max/solution/find_max.c
  chapters/memory-layout/memory-operations/drills/tasks/find_max/support/.gitignore
  chapters/memory-layout/memory-operations/drills/tasks/find_max/support/Makefile
  chapters/memory-layout/memory-operations/drills/tasks/find_max/support/find_max.c
  chapters/memory-layout/memory-operations/drills/tasks/iterate/README.md
  chapters/memory-layout/memory-operations/drills/tasks/iterate/solution/.gitignore
  chapters/memory-layout/memory-operations/drills/tasks/iterate/solution/Makefile
  chapters/memory-layout/memory-operations/drills/tasks/iterate/solution/iterate.c
  chapters/memory-layout/memory-operations/drills/tasks/iterate/support/.gitignore
  chapters/memory-layout/memory-operations/drills/tasks/iterate/support/Makefile
  chapters/memory-layout/memory-operations/drills/tasks/iterate/support/iterate.c
  chapters/memory-layout/memory-operations/drills/tasks/pixels/README.md
  chapters/memory-layout/memory-operations/drills/tasks/pixels/solution/.gitignore
  chapters/memory-layout/memory-operations/drills/tasks/pixels/solution/Makefile
  chapters/memory-layout/memory-operations/drills/tasks/pixels/solution/pixel.h
  chapters/memory-layout/memory-operations/drills/tasks/pixels/solution/pixels.c
  chapters/memory-layout/memory-operations/drills/tasks/pixels/support/.gitignore
  chapters/memory-layout/memory-operations/drills/tasks/pixels/support/Makefile
  chapters/memory-layout/memory-operations/drills/tasks/pixels/support/pixel.h
  chapters/memory-layout/memory-operations/drills/tasks/pixels/support/pixels.c
  chapters/memory-layout/memory-operations/drills/tasks/pointers/README.md
  chapters/memory-layout/memory-operations/drills/tasks/pointers/solution/.gitignore
  chapters/memory-layout/memory-operations/drills/tasks/pointers/solution/Makefile
  chapters/memory-layout/memory-operations/drills/tasks/pointers/solution/pointers.c
  chapters/memory-layout/memory-operations/drills/tasks/pointers/support/.gitignore
  chapters/memory-layout/memory-operations/drills/tasks/pointers/support/Makefile
  chapters/memory-layout/memory-operations/drills/tasks/pointers/support/pointers.c
  chapters/memory-layout/memory-operations/guides/array_vs_pointer/README.md
  chapters/memory-layout/memory-operations/guides/array_vs_pointer/support/.gitignore
  chapters/memory-layout/memory-operations/guides/array_vs_pointer/support/Makefile
  chapters/memory-layout/memory-operations/guides/array_vs_pointer/support/array_vs_pointer.c
  chapters/memory-layout/memory-operations/media/arit.svg
  chapters/memory-layout/memory-operations/media/arrays.svg
  chapters/memory-layout/memory-operations/media/padding.svg
  chapters/memory-layout/memory-operations/reading/README.md
  config.yaml
Labels: needs-rendering

#10 Fix sidebar issue
  config.yaml
Labels: needs-rendering, area/infra

#11 intro-comparch/toolchain-goto: Add reading, guides and tasks
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/README.md
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/solution/binary-search/.gitignore
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/solution/binary-search/Makefile
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/solution/binary-search/binary-search.c
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/solution/vector-max/.gitignore
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/solution/vector-max/Makefile
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/solution/vector-max/vector-max.c
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/support/binary-search/.gitignore
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/support/binary-search/Makefile
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/support/binary-search/binary-search.c
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/support/vector-max/.gitignore
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/support/vector-max/Makefile
  chapters/intro-computer-architecture/c-goto-statements/drills/tasks/goto-algs/support/vector-max/vector-max.c
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/README.md
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/solution/bogosort/.gitignore
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/solution/bogosort/Makefile
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/solution/bogosort/bogosort.c
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/solution/ignore_the_comments/.gitignore
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/solution/ignore_the_comments/Makefile
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/solution/ignore_the_comments/ignore_the_comments.c
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/support/bogosort/.gitignore
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/support/bogosort/Makefile
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/support/bogosort/bogosort.c
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/support/ignore_the_comments/.gitignore
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/support/ignore_the_comments/Makefile
  chapters/intro-computer-architecture/c-goto-statements/guides/goto-warm-up/support/ignore_the_comments/ignore_the_comments.c
  chapters/intro-computer-architecture/c-goto-statements/reading/README.md
  chapters/memory-security/reverse-engineering/drills/tasks/old-hits/README.md
  chapters/memory-security/reverse-engineering/drills/tasks/old-hits/solution/Makefile
  chapters/memory-security/reverse-engineering/drills/tasks/old-hits/solution/README.md
  chapters/memory-security/reverse-engineering/drills/tasks/old-hits/solution/old-hits.c
  chapters/memory-security/reverse-engineering/drills/tasks/old-hits/support/old-hits
  chapters/memory-security/reverse-engineering/guides/compiler-explorer-tutorial/README.md
  chapters/memory-security/reverse-engineering/guides/ghidra-tutorial/README.md
  chapters/memory-security/reverse-engineering/guides/ghidra-tutorial/media/ghidra-added-file.png
  chapters/memory-security/reverse-engineering/guides/ghidra-tutorial/media/ghidra-added-project.png
  chapters/memory-security/reverse-engineering/guides/ghidra-tutorial/media/ghidra-analyzed.png
  chapters/memory-security/reverse-engineering/guides/ghidra-tutorial/media/ghidra-initial.png
  chapters/memory-security/reverse-engineering/guides/ghidra-tutorial/media/ghidra-main.png
  chapters/memory-security/reverse-engineering/guides/ghidra-tutorial/support/Makefile
  chapters/memory-security/reverse-engineering/guides/ghidra-tutorial/support/crackme
  chapters/memory-security/reverse-engineering/guides/ghidra-tutorial/support/crackme.c
  chapters/memory-security/reverse-engineering/reading/README.md
  config.yaml
Labels: needs-rendering
